/* <=========================== Main Section ========================> */

.brand_identity {
  display: flex;
  flex-direction: column;
}

.brand-identity-text {
  margin-left: 10vw;
  margin-top: 28vw;
  z-index: 1;
}

#brand-text-1 {
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#brand-text-2 {
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
}

#brand-text-3 {
  padding-top: 3vh;
  color: #ed6931;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.decorazione-main {
  transform: translate(-85%, -50%);
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/decorazioni/tratti_gialli.png");
}

#linea-testo img {
  width: 78vw;
}

#brand-text-nomobile {
  display: none;
}

.mini-logo-container {
  margin-top: 10vw;
  position: relative;
}

.mini-logo-container div {
  position: absolute;
}

.mini-logo-1 {
  top: 50%;
  transform: translate(100%, -50%);
  width: 50vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_convertable.png");
  z-index: 5;
}

.mini-logo-2 {
  left: 50%;
  transform: translate(-60%, -30%);
  width: 40vw;
  height: 40vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_monroy.png");
  z-index: 4;
}

.mini-logo-3 {
  transform: translate(-10%, -5%);
  width: 39vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_vito.png");
  z-index: 7;
}

.mini-logo-4 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 42vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_pandi.png");
  z-index: 11;
}

.mini-logo-5 {
  top: 50%;
  transform: translate(134%, 15%);
  width: 42vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_visit.png");
  z-index: 7;
}

.mini-logo-6 {
  transform: translate(0%, 50%);
  width: 39vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_laura.png");
  z-index: 10;
}

.mini-logo-7 {
  transform: translate(50%, 90%);
  width: 39vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_cantina.png");
  z-index: 9;
}

.mini-logo-8 {
  transform: translate(130%, 82%);
  width: 39vw;
  height: 45vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_moceri.png");
  z-index: 8;
}

/* <=========================== Section 2 ========================> */

.desktop-container {
  display: none;
}

/* FLIP CARD DISPOSITIVI MOBILE */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin-top: 15vw;
  margin-left: 10%;
  border-radius: 180px;
  width: 80vw;
  height: 75vw;
}

.interno-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.interno-card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 90px;
  /* box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2); */
}

#back {
  background-color: white;
  background-image: url("../assets/brand_identity/loghi/retro_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cerchio {
  position: absolute;
  margin-right: 1vw;
  z-index: 1;
  width: 72vw;
  height: 71vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.numero {
  margin-left: 60%;
  margin-top: -1%;
  transition: opacity 0.3s;
  z-index: 2;
  align-self: start;
  position: absolute;
  width: 16vw;
  height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-content h1 {
  color: #2a3a45;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

.card-content p {
  margin-top: 5vw;
  margin-left: 48px;
  margin-right: 48px;
  text-align: center;
  color: #2a3a45;
  font-size: 3vw;
  font-family: Montserrat;
  font-weight: 500;
}

.card-text{
  z-index: 10;
}

#logo-text-scopri {
  width: 25vw;
  margin-left: 35%;
  margin-top: 5.5vw;
  color: #ed6931;
  font-size: 3.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

/* FINE */

#front-1 {
  background-image: url("../assets/brand_identity/loghi/vito_logo.png");
}
#front-2 {
  background-image: url("../assets/brand_identity/loghi/monroy_logo.png");
}
#front-3 {
  background-image: url("../assets/brand_identity/loghi/visit_logo.png");
}
#front-4 {
  background-image: url("../assets/brand_identity/loghi/cantina_logo.png");
}
#front-5 {
  background-image: url("../assets/brand_identity/loghi/moceri_logo.png");
}
#front-6 {
  background-image: url("../assets/brand_identity/loghi/pandi_logo.png");
}
#front-7 {
  background-image: url("../assets/brand_identity/loghi/laura_logo.png");
}
#front-8 {
  background-image: url("../assets/brand_identity/loghi/convertable_logo.png");
}

#numero-1 {
  background-image: url("../assets/brand_identity/loghi/numeri/1_num.png");
}

#numero-2 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/2_num.png");
}
#numero-3 {
  margin-top: 4%;
  background-image: url("../assets/brand_identity/loghi/numeri/3_num.png");
}
#numero-4 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/4_num.png");
}
#numero-5 {
  margin-top: 4%;
  background-image: url("../assets/brand_identity/loghi/numeri/5_num.png");
}
#numero-6 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/6_num.png");
}
#numero-7 {
  margin-top: 4%;
  background-image: url("../assets/brand_identity/loghi/numeri/7_num.png");
}
#numero-8 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/8_num.png");
}

#cerchio-1 {
  background-image: url("../assets/brand_identity/loghi/cerchi/1_cerchio.png");
}
#cerchio-2 {
  background-image: url("../assets/brand_identity/loghi/cerchi/2_cerchio.png");
}
#cerchio-3 {
  background-image: url("../assets/brand_identity/loghi/cerchi/3_cerchio.png");
}
#cerchio-4 {
  background-image: url("../assets/brand_identity/loghi/cerchi/4_cerchio.png");
}
#cerchio-5 {
  background-image: url("../assets/brand_identity/loghi/cerchi/5_cerchio.png");
}
#cerchio-6 {
  background-image: url("../assets/brand_identity/loghi/cerchi/6_cerchio.png");
}
#cerchio-7 {
  background-image: url("../assets/brand_identity/loghi/cerchi/7_cerchio.png");
}
#cerchio-8 {
  background-image: url("../assets/brand_identity/loghi/cerchi/8_cerchio.png");
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .brand-identity-text {
    margin-left: 6vw;
    margin-top: 16vw;
  }

  .decorazione-main {
    width: 6vw;
    margin-top: 2vw;
  }

  #brand-text-1 {
    font-size: 4.5vw;
  }
  #brand-text-2 {
    padding-top: 2vw;
    font-size: 1.8vw;
  }
  #brand-text-3 {
    padding-top: 2.5vw;
    font-size: 2vw;
  }
  #linea-testo img {
    width: 38vw;
  }

  #brand-text-mobile {
    display: none;
  }
  #brand-text-nomobile {
    display: block;
  }

  .mini-logo-container {
    position: absolute;
    padding-top: 10vw;
    transform: translateX(10%);
  }
  .mini-logo-1 {
    overflow: hidden;
    transform: translate(335%, -220%);
    top: 0%;
    width: 23vw;
    height: 25vw;
  }

  .mini-logo-2 {
    left: 50%;
    transform: translate(252%, -261%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-3 {
    transform: translate(195%, -240%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-4 {
    top: 0%;
    left: 0%;
    transform: translate(260%, -155%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-5 {
    transform: translate(317%, -170%);
    width: 24vw;
    height: 25vw;
  }
  .mini-logo-6 {
    transform: translate(208%, -180%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-7 {
    transform: translate(230%, -135%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-8 {
    transform: translate(290%, -125%);
    width: 25vw;
    height: 25vw;
  }

  /* <=========================== Section 2 ========================> */

  .flip-card {
    display: none;
  }

  .desktop-container {
    margin-top: 20vw;
    display: block;
  }

  .logo {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    max-width: 100%;
    height: 45vw;
  }

  .logo-img-left {
    margin-left: 2.5vw;
    width: 38vw;
    height: 38vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo-img-right {
    align-self: end;
    margin-right: 5vw;
    width: 38vw;
    height: 38vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .numero-left {
    margin-top: 1vw;
    margin-left: 5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .numero-right {
    align-self: end;
    margin-top: 1vw;
    margin-right: 5vw;
    width: 10vw;
    height: 10vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .cerchio-left {
    margin-top: 1vw;
    margin-left: 3.4vw;
    width: 35vw;
    height: 35.5vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .cerchio-right {
    align-self: end;
    margin-top: 1vw;
    margin-right: 6.5vw;
    width: 35vw;
    height: 35.5vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .decorazione {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .informazioni-left {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-left: 4vw;
  }

  .informazioni-right {
    margin-top: 5vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    margin-right: 4vw;
  }

  .text-h1-desktop {
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
  }

  .text-brand-desktop {
    padding-top: 2.5vw;
    color: #2a3a45;
    font-size: 1.8vw;
    font-family: Montserrat;
    font-weight: 500;
  }

  .logo-text-scopri {
    margin-left: 0px;
    margin-top: 2.5vw;
    color: #ed6931;
    font-size: 2vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
  }

  #margine-1 {
    margin-left: 0vw;
    margin-right: 7vw;
  }

  #allineamento-1 {
    text-align: right;
  }

  #allineamento-2 {
    text-align: left;
  }

  #decorazione-1 {
    transform: translate(80%, -365%);
    background-image: url("../assets/decorazioni/tratti_gialli.png");
  }
  #decorazione-2 {
    transform: translate(550%, -280%);
    background-image: url("../assets/decorazioni/stelle_blu.png");
  }
  #decorazione-3 {
    transform: translate(50%, -325%);
    background-image: url("../assets/decorazioni/stella_arancio.png");
  }
  #decorazione-4 {
    transform: translate(505%, -325%);
    background-image: url("../assets/decorazioni/stelle_gialle.png");
  }
  #decorazione-5 {
    transform: translate(145%, -305%);
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
  #decorazione-6 {
    transform: translate(355%, -305%);
    background-image: url("../assets/decorazioni/tratti_arancio.png");
  }
  #decorazione-7 {
    transform: translate(135%, -395%);
    background-image: url("../assets/decorazioni/stella_gialla.png");
  }
  #decorazione-8 {
    transform: translate(420%, -335%);
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .brand-identity-text {
    margin-left: 6.5vw;
    margin-top: 20vw;
  }

  #brand-text-mobile {
    display: none;
  }

  #brand-text-nomobile {
    display: block;
  }

  #brand-text-1 {
    font-size: 4vw;
  }

  #linea-testo img {
    width: 33vw;
  }

  #brand-text-2 {
    padding-top: 2vw;
    font-size: 1.6vw;
  }

  #brand-text-3 {
    padding-top: 2vw;
    font-size: 1.8vw;
  }
  .mini-logo-container {
    padding-top: 0vw;
    margin-top: 15vw;
  }
  .mini-logo-1 {
    overflow: hidden;
    transform: translate(335%, -220%);
    top: 0%;
    width: 23vw;
    height: 25vw;
  }

  .mini-logo-2 {
    left: 50%;
    transform: translate(245%, -215%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-3 {
    transform: translate(180%, -220%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-4 {
    top: 0%;
    left: 0%;
    transform: translate(250%, -150%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-5 {
    transform: translate(315%, -150%);
    width: 24vw;
    height: 25vw;
  }
  .mini-logo-6 {
    transform: translate(190%, -160%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-7 {
    transform: translate(215%, -95%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-8 {
    transform: translate(285%, -88%);
    width: 25vw;
    height: 25vw;
  }

  /* <=========================== Section 2 ========================> */
  .text-h1-desktop {
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
  }

  .text-brand-desktop {
    padding-top: 2.5vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
  }

  .logo-text-scopri {
    margin-left: 0px;
    margin-top: 2.5vw;
    color: #ed6931;
    font-size: 1.8vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .brand-identity-text {
    margin-left: 6.5vw;
    margin-top: 16vw;
  }
  #decorazione-1 {
    transform: translate(80%, -368%);
  }
  #decorazione-2 {
    transform: translate(550%, -270%);
  }
  #decorazione-3 {
    transform: translate(58%, -335%);
    background-image: url("../assets/decorazioni/stella_arancio.png");
  }
  #decorazione-4 {
    transform: translate(505%, -325%);
    background-image: url("../assets/decorazioni/stelle_gialle.png");
  }
  #decorazione-5 {
    transform: translate(155%, -305%);
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
  #decorazione-6 {
    transform: translate(355%, -305%);
    background-image: url("../assets/decorazioni/tratti_arancio.png");
  }
  #decorazione-7 {
    transform: translate(120%, -385%);
    background-image: url("../assets/decorazioni/stella_gialla.png");
  }
  #decorazione-8 {
    transform: translate(420%, -315%);
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
}
