/* <=========================== Main Section ========================> */

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-contenitore {
  width: 125vw;
  height: 135vw;
  text-align: center;
  overflow: hidden;
}

.logo-cerchio {
  z-index: 2;
  margin-top: -130vw;
  margin-left: 20vw;
  width: 93%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/brand_identity/loghi/cerchi/3_cerchio.png");
}

.logo-img {
  margin-top: 20vw;
  margin-left: 15vw;
  width: 100%;
  height: 120vw;
  background-size: 97%;
  background-repeat: no-repeat;
  background-position: center;
}

/* <=========================== Nascita Section ========================> */

.nascita-section {
  padding-top: 17vw;
  display: flex;
  justify-content: center;
}

.container-nascita {
  position: relative;
  width: 90vw;
  height: 130vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
#testo-1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-2 {
  position: absolute;
  margin-left: 18vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-3-nomobile {
  display: none;
  padding-top: 5vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

#testo-3-mobile {
  padding-top: 4vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

/* <=========================== Mockup Section ========================> */

.mockup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-mockup {
  margin: 20.5vw 0px 5vw 0px;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  /* <=========================== Main Section ========================> */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .logo-section {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
  }

  .logo-contenitore {
    width: 100vw;
    height: 60vw;
    text-align: center;
    overflow: hidden;
    position: absolute;
  }

  .logo-cerchio {
    z-index: 2;
    margin-top: -61vw;
    margin-left: 30vw;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/brand_identity/loghi/cerchi/3_cerchio.png");
  }

  .logo-img {
    z-index: 1;
    margin-top: -2vw;
    margin-left: 45vw;
    width: 65%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* <=========================== Nascita Section ========================> */

  .nascita-section {
    padding-top: 0px;
    margin-top: 10vw;
  }

  .container-nascita {
    width: 90vw;
    height: 45vw;
    border-radius: 60px;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 10vw;
  }

  #testo-2 {
    margin-left: 26vw;
    margin-top: -8vw;
    font-size: 4vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 0px;
    margin-top: 1.5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }
  .text-mockup {
    margin: 10vw 0px 2vw 0px;
    grid-row: 1;
    grid-column: 1/4;
    color: #2a3a45;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  .logo-img {
    background-size: 105%;
    margin-left: 50%;
    width: 58%;
  }

  .logo-cerchio {
    margin-left: 50%;
    width: 58%;
  }

  /* <=========================== Nascita Section ========================> */

  .container-nascita {
    width: 90vw;
    height: 40vw;
    border-radius: 60px;
  }
  .nascita-section {
    padding-top: 0px;
    margin-top: 6vw;
  }

  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    transform: translate(0%, -2.5%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .container-nascita {
    border-radius: 150px;
  }

}
