/* <=========================== Main Section ========================> */

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-contenitore {
  width: 125vw;
  height: 135vw;
  text-align: center;
  overflow: hidden;
}

.logo-contenitore img {
  max-width: 100%;
  height: auto;
}

#logo-cerchio {
  transform: translate(15%, 25%);
  position: relative;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-cerchio img {
  width: 90%;
}

#logo-titolo {
  padding-top: 15vw;
  color: #2a3a45;
  font-size: 10vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

#linea-testo img {
  transform: translateX(23%);
  width: 70vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description {
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4.2vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: center;
}

#logo-description-desktop {
  display: none;
}

/* <=========================== Nascita Section ========================> */

.nascita-section {
  padding-top: 17vw;
  display: flex;
  justify-content: center;
}

.container-nascita {
  position: relative;
  width: 90vw;
  height: 125vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
#testo-1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-2 {
  position: absolute;
  margin-left: 18vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-3-nomobile {
  display: none;
  padding-top: 5vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

#testo-3-mobile {
  padding-top: 5vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-size: 3.7vw;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

/* <=========================== Mockup Section ========================> */

.mockup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-mockup {
  padding-top: 15vw;
  padding-bottom: 15vw;
  color: #2a3a45;
  font-size: 10vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.container-1 {
  width: 93%;
  height: 64vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-2 {
  margin-top: 5vw;
  width: 90%;
  height: 135vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
.container-3 {
  margin-top: 5vw;
  width: 90%;
  height: 45.5vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-4 {
  margin-top: 5vw;
  width: 90%;
  height: 135vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-5 {
  margin-top: 5vw;
  width: 90%;
  height: 64vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
  /* <=========================== Main Section ========================> */

  .logo-contenitore {
    width: 112vw;
    height: 122vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .logo-section {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
  }

  .logo-contenitore {
    width: 100vw;
    height: 60vw;
    text-align: center;
    overflow: hidden;
  }

  .logo-contenitore img {
    max-width: 100%;
    height: auto;
  }

  #logo-cerchio {
    transform: translate(30%, 6%);
    position: relative;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logo-cerchio img {
    width: 52%;
  }

  .text {
    transform: translate(0%, 40%);
  }

  #logo-titolo {
    position: absolute;
    transform: translate(-45%, -55vw);
    color: #2a3a45;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  #linea-testo {
    display: none;
  }

  #linea-testo-desktop {
    display: inline;
  }

  #linea-testo-desktop img {
    transform: translate(-45%, -2550%);
    width: 40vw;
  }

  #logo-description {
    display: none;
  }

  #logo-description-desktop {
    display: block;
    transform: translate(-40%, -210%);
    padding-top: 5vw;
    color: #2a3a45;
    font-size: 2vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }
  /* <=========================== Nascita Section ========================> */

  .nascita-section {
    transform: translate(0%, -20%);
    padding-top: 0vw;
  }

  .container-nascita {
    width: 90vw;
    height: 45vw;
    border-radius: 60px;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 10vw;
  }

  #testo-2 {
    margin-left: 26vw;
    margin-top: -8vw;
    font-size: 4vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 3.5vw;
    text-align: center;
    font-size: 2vw;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }
  .text-mockup {
    grid-row: 1;
    grid-column: 1/4;
    padding-top: 0vw;
    padding-bottom: 10vw;
    color: #2a3a45;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  .container-1 {
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    height: 45vw;
    border-radius: 30px;
  }

  .container-2 {
    margin-left: 2.5vw;
    margin-top: 0vw;
    width: 90%;
    height: 45vw;
    border-radius: 30px;
  }
  .container-3 {
    grid-row: 3;
    grid-column: 1/4;
    margin-top: 5vw;
    width: 100%;
    height: 45.5vw;
    border-radius: 30px;
  }

  .container-4 {
    grid-row: 4;
    grid-column: 1/2;
    margin-top: 5vw;
    width: 100%;
    height: 50vw;
    border-radius: 30px;
  }

  .container-5 {
    grid-row: 4;
    grid-column: 2/4;
    margin-left: 5vw;
    width: 92%;
    height: 50vw;
    border-radius: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */
  .logo-section {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
  }

  .logo-contenitore {
    width: 100vw;
    height: 62vw;
    text-align: center;
    overflow: hidden;
  }

  .logo-contenitore img {
    max-width: 100%;
    height: auto;
  }

  #logo-cerchio {
    transform: translate(32%, 5%);
  }

  #logo-cerchio img {
    width: 55%;
  }

  .text {
    transform: translate(0%, -20%);
  }

  #logo-titolo {
    transform: translate(-65%, -230%);
    color: #2a3a45;
    font-size: 4vw;
    text-align: left;
  }

  #linea-testo-desktop img {
    transform: translate(-70%, -3100%);
    width: 30vw;
  }

  #logo-description-desktop {
    display: block;
    transform: translate(-50%, -210%);
    font-size: 1.8vw;
  }
  /* <=========================== Nascita Section ========================> */

  .nascita-section {
    transform: translate(0%, -40%);
    padding-top: 0vw;
  }

  .container-nascita {
    width: 90%;
    height: 35vw;
    border-radius: 8vw;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 7vw;
  }

  #testo-2 {
    margin-left: 33.5vw;
    margin-top: -5.5vw;
    font-size: 2.5vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 3vw;
    text-align: center;
    font-size: 1.7vw;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    transform: translate(0%, -2.5%);
  }

  .text-mockup {
    padding-top: 0vw;
    padding-bottom: 10vw;
    font-size: 5vw;
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Mockup Section ========================> */

  .container-1 {
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    height: 38vw;
    border-radius: 40px;
  }

  .container-2 {
    margin-left: 2.5vw;
    margin-top: 0vw;
    width: 90%;
    height: 38vw;
    border-radius: 40px;
  }
  .container-3 {
    grid-row: 3;
    grid-column: 1/4;
    margin-top: 5vw;
    width: 100%;
    height: 39vw;
  }

  .container-4 {
    grid-row: 4;
    grid-column: 1/2;
    margin-top: 5vw;
    width: 100%;
    height: 38vw;
    border-radius: 40px;
  }

  .container-5 {
    grid-row: 4;
    grid-column: 2/4;
    margin-left: 5vw;
    width: 92%;
    height: 38vw;
    background-size: auto;
    border-radius: 40px;
  }
}
