/* <=========================== Main Section ========================> */

.brand_identity {
  display: flex;
  flex-direction: column;
}

.brand-identity-text {
  margin-left: 10vw;
  margin-top: 28vw;
  z-index: 1;
}

#brand-text-1 {
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#brand-text-2 {
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
}

#brand-text-3 {
  padding-top: 3vh;
  color: #ed6931;
  font-size: 4vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.decorazione-main {
  transform: translate(-85%, -50%);
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/decorazioni/tratti_gialli.png");
}

#linea-testo img {
  width: 78vw;
}

#brand-text-nomobile {
  display: none;
}

.mini-logho-container {
  margin-top: 13vw;
  position: relative;
}

.mini-logho-container div {
  position: absolute;
}

.mini-logo-1 {
  top: 50%;
  transform: translate(120%, -40%);
  width: 45vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_convertable.png");
  z-index: 5;
}

.mini-logo-2 {
  left: 50%;
  transform: translate(-50%, -9%);
  width: 48vw;
  height: 48vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_monroy.png");
  z-index: 4;
}

.mini-logo-3 {
  transform: translate(-10%, 16%);
  width: 50vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_vito.png");
  z-index: 7;
}

.mini-logo-4 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 58%);
  width: 50vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_pandi.png");
  z-index: 11;
}

.mini-logo-5 {
  top: 50%;
  transform: translate(120%, 25%);
  width: 45vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_visit.png");
  z-index: 7;
}

.mini-logo-6 {
  transform: translate(-10%, 74%);
  width: 50vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_laura.png");
  z-index: 10;
}

.mini-logo-7 {
  transform: translate(50%, 110%);
  width: 50vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_cantina.png");
  z-index: 9;
}

.mini-logo-8 {
  transform: translate(120%, 92%);
  width: 45vw;
  height: 50vw;
  background-size: cover;
  background-image: url("../assets/brand_identity/mini_loghi/mini_moceri.png");
  z-index: 8;
}

/* <=========================== Section 2 ========================> */

.logo-1-desktop,
.logo-2-desktop,
.logo-3-desktop,
.logo-4-desktop,
.logo-5-desktop,
.logo-6-desktop,
.logo-7-desktop,
.logo-8-desktop {
  display: none;
}

/* FLIP CARD DISPOSITIVI MOBILE */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin-top: 15vw;
  margin-left: 10%;
  /* margin: 100px auto ; */
  width: 80vw;
  height: 75vw;
}

.interno-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.interno-card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  /* box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2); */
}

#back {
  background-color: white;
  background-image: url("../assets/brand_identity/loghi/retro_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cerchio {
  position: absolute;
  margin-right: 1vw;
  z-index: 1;
  width: 72vw;
  height: 71vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.numero {
  margin-left: 60%;
  margin-top: -1%;
  transition: opacity 0.3s;
  z-index: 2;
  align-self: start;
  position: absolute;
  width: 16vw;
  height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.card-content h1 {
  color: #2a3a45;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

.card-content p {
  margin-top: 5vw;
  margin-left: 48px;
  margin-right: 48px;
  text-align: center;
  color: #2a3a45;
  font-size: 3vw;
  font-family: Montserrat;
  font-weight: 500;
}

#logo-text-scopri {
  margin-left: 35%;
  margin-top: 5.5vw;
  color: #ed6931;
  font-size: 3.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

/* FINE */

#front-1 {
  background-image: url("../assets/brand_identity/loghi/vito_logo.png");
}
#front-2 {
  background-image: url("../assets/brand_identity/loghi/monroy_logo.png");
}
#front-3 {
  background-image: url("../assets/brand_identity/loghi/visit_logo.png");
}
#front-4 {
  background-image: url("../assets/brand_identity/loghi/cantina_logo.png");
}
#front-5 {
  background-image: url("../assets/brand_identity/loghi/moceri_logo.png");
}
#front-6 {
  background-image: url("../assets/brand_identity/loghi/pandi_logo.png");
}
#front-7 {
  background-image: url("../assets/brand_identity/loghi/laura_logo.png");
}
#front-8 {
  background-image: url("../assets/brand_identity/loghi/convertable_logo.png");
}

#numero-1 {
  background-image: url("../assets/brand_identity/loghi/numeri/1_num.png");
}

#numero-2 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/2_num.png");
}
#numero-3 {
  margin-top: 4%;
  background-image: url("../assets/brand_identity/loghi/numeri/3_num.png");
}
#numero-4 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/4_num.png");
}
#numero-5 {
  margin-top: 4%;
  background-image: url("../assets/brand_identity/loghi/numeri/5_num.png");
}
#numero-6 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/6_num.png");
}
#numero-7 {
  margin-top: 4%;
  background-image: url("../assets/brand_identity/loghi/numeri/7_num.png");
}
#numero-8 {
  margin-left: -60%;
  margin-top: 5%;
  background-image: url("../assets/brand_identity/loghi/numeri/8_num.png");
}

#cerchio-1 {
  background-image: url("../assets/brand_identity/loghi/cerchi/1_cerchio.png");
}
#cerchio-2 {
  background-image: url("../assets/brand_identity/loghi/cerchi/2_cerchio.png");
}
#cerchio-3 {
  background-image: url("../assets/brand_identity/loghi/cerchi/3_cerchio.png");
}
#cerchio-4 {
  background-image: url("../assets/brand_identity/loghi/cerchi/4_cerchio.png");
}
#cerchio-5 {
  background-image: url("../assets/brand_identity/loghi/cerchi/5_cerchio.png");
}
#cerchio-6 {
  background-image: url("../assets/brand_identity/loghi/cerchi/6_cerchio.png");
}
#cerchio-7 {
  background-image: url("../assets/brand_identity/loghi/cerchi/7_cerchio.png");
}
#cerchio-8 {
  background-image: url("../assets/brand_identity/loghi/cerchi/8_cerchio.png");
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .brand-identity-text {
    margin-left: 5vw;
    margin-top: 20vw;
  }

  #brand-text-1 {
    font-size: 4.5vw;
  }
  #linea-testo img {
    width: 38vw;
  }
  #brand-text-2 {
    padding-top: 5vw;
    font-size: 2vw;
  }
  #brand-text-mobile {
    display: none;
  }
  #brand-text-nomobile {
    display: block;
  }
  #brand-text-3 {
    font-size: 2.5vw;
  }
  .mini-logho-container {
    padding-top: 2vw;
  }
  .mini-logo-1 {
    overflow: hidden;
    transform: translate(335%, -250%);
    top: 0%;
    width: 23vw;
    height: 25vw;
  }

  .mini-logo-2 {
    left: 50%;
    transform: translate(55%, -235%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-3 {
    transform: translate(190%, -240%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-4 {
    top: 0%;
    left: 0%;
    transform: translate(250%, -170%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-5 {
    transform: translate(315%, -175%);
    width: 24vw;
    height: 25vw;
  }
  .mini-logo-6 {
    transform: translate(190%, -180%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-7 {
    transform: translate(230%, -125%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-8 {
    transform: translate(290%, -110%);
    width: 25vw;
    height: 25vw;
  }

  /* <=========================== Section 2 ========================> */

  .flip-card {
    display: none;
  }

  .loghi-container {
    padding-top: 120vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loghi-container {
    padding-top: 10vw;
    margin-bottom: 5vh;
    justify-content: start;
    align-items: start;
  }
  .logo-h1-desktop {
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
  }

  .logo-text-desktop {
    padding-top: 5vw;
    color: #2a3a45;
    font-size: 1.8vw;
    font-family: Montserrat;
    font-weight: 500;
  }

  .logo-1-desktop {
    transform: translate(35%, -10%);
    padding-top: 8vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    margin-right: 4vw;
  }

  .logo-1-desktop h1 {
    text-align: right;
  }

  .logo-1-desktop div {
    text-align: right;
  }

  .decorazione-1 {
    transform: translate(70%, -250%);
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/tratti_gialli.png");
  }

  .logo-1 {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    max-width: 100%;
    height: 45vw;
  }

  .logo-1-fronte {
    width: 42vw;
    height: 41vw;
  }

  .cerchio-1 {
    transform: translate(2%, 3%);
    width: 41vw;
    height: 41vw;
  }

  .numero-1 {
    transform: translate(50%, -5%);
    width: 14vw;
    height: 11vw;
  }

  .logo-2 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 45vw;
  }

  .logo-2-fronte {
    transform: translate(124%, 0%);
    width: 43vw;
    height: 41vw;
  }
  .logo-2-desktop {
    transform: translate(0%, 10vw);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    margin-left: 3vw;
  }

  .decorazione-2 {
    transform: translate(315%, -70%);
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/stelle_blu.png");
  }
  .cerchio-2 {
    width: 41vw;
    height: 41vw;
  }
  .numero-2 {
    transform: translate(210%, 10%);
    width: 14vw;
    height: 11vw;
  }

  .logo-3 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 41vw;
  }
  .logo-3-fronte {
    width: 43vw;
    height: 41vw;
  }
  .logo-3-desktop {
    transform: translate(90%, -25%);
    padding-top: 8vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    margin-right: 4vw;
  }

  .logo-3-desktop h1 {
    text-align: right;
  }

  .logo-3-desktop div {
    text-align: right;
  }
  .decorazione-3 {
    transform: translate(95%, -350%);
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/stella_arancio.png");
  }
  .cerchio-3 {
    transform: translate(2%, 0%);
    width: 41vw;
    height: 41vw;
  }

  .numero-3 {
    transform: translate(30%, 10%);
    width: 14vw;
    height: 11vw;
  }

  .logo-4 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 41vw;
  }

  .logo-4-fronte {
    transform: translate(124%, 0%);
    width: 43vw;
    height: 41vw;
  }

  .logo-4-desktop {
    transform: translate(0%, 10vw);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    margin-left: 3vw;
  }
  .decorazione-4 {
    transform: translate(450%, -60%);
    position: absolute;
    width: 7vw;
    height: 7vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/stelle_gialle.png");
  }

  .cerchio-4 {
    width: 41vw;
    height: 41vw;
  }

  .numero-4 {
    transform: translate(40%, 10%);
    width: 14vw;
    height: 11vw;
  }

  .logo-5 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 41vw;
  }
  .logo-5-fronte {
    width: 43vw;
    height: 41vw;
  }

  .logo-5-desktop {
    transform: translate(92%, -30%);
    padding-top: 8vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    margin-right: 4vw;
  }
  .logo-5-desktop h1 {
    text-align: right;
  }

  .logo-5-desktop div {
    text-align: right;
  }
  .decorazione-5 {
    transform: translate(110%, -210%);
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
  .cerchio-5 {
    width: 41vw;
    height: 41vw;
  }

  .numero-5 {
    transform: translate(30%, -10%);
    width: 14vw;
    height: 11vw;
  }

  .logo-6 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 41vw;
  }

  .logo-6-fronte {
    transform: translate(124%, 0%);
    width: 43vw;
    height: 41vw;
  }

  .logo-6-desktop {
    transform: translate(0%, 40%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    margin-left: 3vw;
  }

  .decorazione-6 {
    transform: translate(210%, -70%);
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/tratti_arancio.png");
  }

  .cerchio-6 {
    width: 41vw;
    height: 41vw;
  }

  .numero-6 {
    width: 14vw;
    height: 11vw;
  }

  .logo-7 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 41vw;
  }
  .logo-7-fronte {
    width: 43vw;
    height: 41vw;
  }

  .logo-7-desktop {
    transform: translate(88%, -20%);
    padding-top: 8vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    margin-right: 4vw;
  }
  .logo-7-desktop h1 {
    text-align: right;
  }

  .logo-7-desktop div {
    text-align: right;
  }
  .decorazione-7 {
    transform: translate(200%, -430%);
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/stella_gialla.png");
  }

  .cerchio-7 {
    width: 41vw;
    height: 41vw;
  }

  .numero-7 {
    transform: translate(30%, 8%);
    width: 14vw;
    height: 11vw;
  }

  .logo-8 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    max-width: 100%;
    height: 41vw;
  }

  .logo-8-fronte {
    transform: translate(124%, 0%);
    width: 43vw;
    height: 41vw;
  }

  .logo-8-desktop {
    transform: translate(0%, 35%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    margin-left: 3vw;
  }
  .decorazione-8 {
    transform: translate(240%, -80%);
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
  .cerchio-8 {
    width: 41vw;
    height: 41vw;
  }

  .numero-8 {
    transform: translate(30%, 8%);
    width: 14vw;
    height: 11vw;
  }
  #logo-text-scopri {
    padding-top: 2vh;
    color: #ed6931;
    font-size: 2.5vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .brand-identity-text {
    margin-left: 6.5vw;
    margin-top: 20vw;
  }
  #brand-text-1 {
    font-size: 4vw;
  }
  #linea-testo img {
    width: 33vw;
  }
  #brand-text-2 {
    padding-top: 5vw;
    font-size: 1.8vw;
  }
  #brand-text-mobile {
    display: none;
  }
  #brand-text-nomobile {
    display: block;
  }
  #brand-text-3 {
    font-size: 2.5vw;
  }
  .mini-logho-container {
    padding-top: 5vw;
  }
  .mini-logo-1 {
    overflow: hidden;
    transform: translate(335%, -200%);
    top: 0%;
    width: 23vw;
    height: 25vw;
  }

  .mini-logo-2 {
    left: 50%;
    transform: translate(45%, -215%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-3 {
    transform: translate(180%, -220%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-4 {
    top: 0%;
    left: 0%;
    transform: translate(250%, -130%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-5 {
    transform: translate(315%, -150%);
    width: 24vw;
    height: 25vw;
  }
  .mini-logo-6 {
    transform: translate(190%, -160%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-7 {
    transform: translate(215%, -95%);
    width: 25vw;
    height: 25vw;
  }
  .mini-logo-8 {
    transform: translate(295%, -95%);
    width: 25vw;
    height: 25vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .brand-identity-text {
    margin-left: 6.5vw;
    margin-top: 15vw;
  }
}
