/* <=========================== Main Section ========================> */

.class_home {
  display: flex;
  flex-direction: column;
}

.class_home_text {
  margin-left: 8.5vw;
  margin-top: 45vw;
  z-index: 1;
}

.class_home_text img {
  width: 50vw;
  position: absolute;
  margin-top: -5px;
  margin-left: 15vw;
}

#home_text_nomobile {
  display: none;
}

#home_text_1 {
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#home_text_2 {
  padding-top: 12vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
}

#home_text_3 {
  padding-top: 7vh;
  color: #ed6931;
  font-size: 4.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.linee_main_section {
  max-width: 100%;
  margin-top: 30vw;
  overflow: hidden;
  margin-bottom: 20vw;
}

.linee_main_section img {
  width: 140vw;
  height: auto;
}

.linee_main_nomobile {
  display: none;
}

/* <=========================== Section 2 ========================> */
.Chi_siamo {
  display: flex;
  justify-content: center;
}

.rettangolo_chisiamo {
  position: absolute;
  width: 90vw;
  height: 112vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  margin-top: 1vh;
}

#testo1 {
  text-align: center;
  margin-top: 2vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo2 {
  position: absolute;
  margin-left: 20vw;
  margin-top: -10.5vw;
  color: #f8fafa;
  font-size: 4.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo3_nomobile {
  display: none;
  padding-top: 4vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-size: 3vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
}

#testo3_mobile {
  padding-top: 4.2vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

#testo4 {
  padding-top: 8vw;
  text-align: center;
  color: #2c9bd8;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

/* <=========================== Section 3 ========================> */

.Servizi {
  margin-top: 100vh;
  display: flex;
  justify-content: center;
}

#servizi_text {
  color: #2a3a45;
  font-size: 80px;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

.contenitore-card {
  margin-top: 20vh;
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  color: #f8fafa;
  font-size: 30px;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.card-grid {
  display: grid;
  height: 800px;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}
.card {
  width: 500px;
  list-style: none;
  position: relative;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* =========================== Section 4 ======================== */

.class_skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin-top: 20vh;
}

.class_skill_text {
  grid-column: 1/2;
  margin-left: 15vh;
  margin-top: 30vh;
}

#skill_text_1 {
  color: #2a3a45;
  font-size: 80px;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#skill_text_2 {
  padding-top: 7vh;
  color: #2a3a45;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
}

.pallini_skills {
  display: flex;
  justify-content: end;
  margin-right: 10vh;
}

.pallini_skills img {
  max-width: 120%;
}

.cerchi_skills {
  position: absolute;
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* .cerchi_skills img {
    max-width: 100%;
  } */

#Cerchio_1 {
  grid-row: 1;
}

#Cerchio_2 {
  grid-row: 1;
}

#Cerchio_3 {
  grid-row: 2;
}
#Cerchio_4 {
  grid-row: 2;
}
#Cerchio_5 {
  grid-row: 2;
}
#Cerchio_6 {
  grid-row: 3;
}
#Cerchio_7 {
  grid-row: 3;
}

/* <=========================== Section 5 ========================> */

.Contattaci {
  margin-top: 180vh;
  display: flex;
  justify-content: center;
}

.linee_orizzontali {
  width: 100%;
  overflow: hidden;
  padding-top: 5vh;
}

.linee_orizzontali img {
  pointer-events: none;
  width: 200vw;
}

.rettangolo_contenitore_contattaci {
  position: absolute;
  width: 85vw;
  height: 120vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  margin-top: 8vh;
}

#testo-contattacci {
  margin-top: 3.5vh;
  display: flex;
  justify-content: center;
  color: #f8fafa;
  font-size: 10vw;
  font-family: Champ;
  font-weight: 900;
}

.dati {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
  margin-top: 3.5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.dati input {
  padding-bottom: 10px;
}

.content_form {
  background-color: transparent;
  color: #f8fafa;
  font-size: 5vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  border: none;
}

.bottom_form {
  border: none;
  background-color: transparent;
  color: #2c9bd8;
  font-size: 4.446vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.content_form:focus {
  outline: white;
}

.linea {
  position: absolute;
  color: #f8fafa;
  width: 110px;
  height: 10px;
  border: 2px;
  z-index: 100;
}

#nome {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 1;
  position: relative;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
}

#cognome {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
}

#email {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 3;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
}

#messaggio {
  margin-right: 10px;
  margin-top: 20px;
  grid-column: 1/4;
  grid-row: 4;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
  resize: none;
}

#invia {
  grid-column: 1/4;
  justify-self: center;
  margin-top: 4vh;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* <=========================== Main Section ========================> */
}

@media only screen and (min-width: 600px) {
  /* <=========================== Main Section ========================> */

  /* <=========================== Section 5 ========================> */
  .dati {
    gap: 6vw;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */
  .class_home_text {
    margin-top: 28vw;
  }

  #home_text_1 {
    font-size: 8vw;
  }

  #home_text_2 {
    padding-top: 12vw;
    font-size: 3vw;
  }

  #home_text_mobile {
    display: none;
  }
  #home_text_nomobile {
    display: block;
  }

  #home_text_3 {
    padding-top: 7vh;
    color: #ed6931;
    font-size: 3.5vw;
    text-decoration: underline;
  }

  .linee_main_section {
    margin-top: 15vw;
  }

  .linee_main_section img {
    opacity: unset;
  }
  /* <=========================== Section 2 ========================> */
  .rettangolo_chisiamo {
    width: 85vw;
    height: 100vw;
  }

  #testo1 {
    text-align: center;
    margin-top: 2vh;
    opacity: 0.1;
    color: #f8fafa;
    font-size: 14vw;
    font-family: Champ;
    font-weight: 900;
  }

  #testo2 {
    position: absolute;
    margin-left: 20vw;
    margin-top: -10.5vw;
    color: #f8fafa;
    font-size: 4.5vw;
    font-family: Champ;
    font-weight: 900;
  }

  #testo3_mobile {
    padding-top: 4.2vw;
    text-align: center;
    margin-right: 3vw;
    margin-left: 3vw;
    color: #f8fafa;
    font-size: 3.5vw;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
  }

  #testo4 {
    padding-top: 8vw;
    text-align: center;
    color: #2c9bd8;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
  }
  /* <=========================== Section 5 ========================> */
  .rettangolo_contenitore_contattaci {
    margin-top: 14vw;
    width: 78vw;
    height: 80vw;
  }
  .dati {
    padding-top: 2vh;
  }
  #testo-contattacci {
    font-size: 5vw;
  }
  .content_form {
    font-size: 2vw;
  }

  .bottom_form {
    font-size: 2.5vw;
  }
  #linea_5_orizzontale {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  .class_home {
    flex-direction: row;
  }

  .class_home_text {
    margin-left: 5vw;
    margin-top: 15vw;
    z-index: 1;
  }

  .class_home_text img {
    width: 30vw;
    margin-top: -5px;
    margin-left: 10.5vw;
  }

  #home_text_mobile {
    display: none;
  }
  #home_text_nomobile {
    display: block;
  }

  #home_text_1 {
    font-size: 5vw;
  }

  #home_text_2 {
    padding-top: 5vw;
    font-size: 2.2vw;
  }

  #home_text_3 {
    padding-top: 8.5vh;
    font-size: 1.8vw;
  }

  .linee_main_section {
    position: absolute;
    overflow: unset;
    right: 0;
    max-width: 100%;
    z-index: 0;
    margin-top: 8vw;
    margin-right: 4.5vw;
    margin-left: 10vw;
  }

  .linee_main_section img {
    width: 8vw;
    opacity: unset;
  }

  .linee_main_mobile {
    display: none;
  }

  .linee_main_nomobile {
    display: block;
  }

  /* <=========================== Section 2 ========================> */

  .rettangolo_chisiamo {
    width: 90vw;
    height: 42vw;
    border-radius: 10vw;
    margin-top: 8vw;
  }

  #testo1 {
    margin-top: 2vh;
    font-size: 12vw;
  }

  #testo2 {
    margin-left: 23vw;
    margin-top: -9vw;
    font-size: 4vw;
  }

  #testo3_nomobile {
    padding-top: 1.2vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 1.8vw;
  }

  #testo4 {
    padding-top: 3.2vw;
    text-align: center;
    font-size: 2vw;
  }

  /* <=========================== Section 5 ========================> */
  #linea_5_orizzontale {
    display: none;
  }
  #linea_6_orizzontale {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  .linee_orizzontali img {
    width: 100%;
  }
  .rettangolo_contenitore_contattaci {
    margin-top: 7.5vw;
    border-radius: 100px;
    width: 80vw;
    height: 32vw;
  }
  .dati {
    gap: 1vw;
    margin-top: 2vw;
    padding-top: 2vw;
  }
  #testo-contattacci {
    font-size: 4vw;
  }
  .content_form {
    font-size: 1.5vw;
  }
  .bottom_form {
    font-size: 1.5vw;
  }
  #nome {
    grid-column: 1/2;
  }
  #cognome {
    grid-column: 2/3;
    grid-row: 1;
  }
  #email {
    grid-column: 3/4;
    grid-row: 1;
  }
  #messaggio {
    margin-top: 15px;
    grid-row: 2;
    grid-column: 1/4;
  }
  #invia {
    margin-top: 2vh;
    grid-row: 3;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Header ========================> */

  .header_menu {
    position: relative;
    height: initial;
    width: auto;
    background: none;
    background-color: initial;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  #check {
    display: none;
  }

  .hamburger_icon {
    display: none;
  }

  .hamburger_icon img {
    width: 35px;
    height: auto;
  }

  .header_logo {
    max-width: 70%;
    margin: 25px 0;
    margin-left: 5vh;
  }

  .header_menu {
    padding-bottom: 0;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 45px;
    color: #2a3a45;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  /* <=========================== Main Section ========================> */

  .class_home {
    flex-direction: row;
  }

  .class_home_text {
    margin-left: 5vw;
    margin-top: 15vw;
    z-index: 1;
  }

  .class_home_text img {
    width: 30vw;
    margin-top: -5px;
    margin-left: 10.5vw;
  }

  #home_text_mobile {
    display: none;
  }
  #home_text_nomobile {
    display: block;
  }

  #home_text_1 {
    font-size: 5vw;
  }

  #home_text_2 {
    padding-top: 5vw;
    font-size: 2.2vw;
  }

  #home_text_3 {
    padding-top: 8.5vh;
    font-size: 1.8vw;
  }

  .linee_main_section {
    position: absolute;
    overflow: unset;
    right: 0;
    max-width: 100%;
    z-index: 0;
    margin-top: 2.2vw;
    margin-right: 4.5vw;
    margin-left: 10vw;
  }

  .linee_main_section img {
    width: 8vw;
    opacity: unset;
  }

  .linee_main_mobile {
    display: none;
  }

  .linee_main_nomobile {
    display: block;
  }

  /* <=========================== Section 2 ========================> */

  .rettangolo_chisiamo {
    width: 90vw;
    height: 42vw;
    border-radius: 10vw;
    margin-top: 8vw;
  }

  #testo1 {
    margin-top: 2vh;
    font-size: 12vw;
  }

  #testo2 {
    margin-left: 23vw;
    margin-top: -9vw;
    font-size: 4vw;
  }
  #testo3_mobile {
    display: none;
  }
  #testo3_nomobile {
    display: block;
    padding-top: 1.2vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 1.8vw;
  }

  #testo4 {
    padding-top: 3.2vw;
    text-align: center;
    font-size: 2vw;
  }

  /* <=========================== Section 5 ========================> */
  #linea_5_orizzontale {
    display: none;
  }
  #linea_6_orizzontale {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  .linee_orizzontali img {
    width: 100%;
  }
  .rettangolo_contenitore_contattaci {
    margin-top: 7vw;
    border-radius: 8vw;
    width: 80vw;
    height: 30vw;
  }
  .dati {
    gap: 1vw;
    margin-top: 2vw;
    padding-top: 2vw;
  }
  #testo-contattacci {
    font-size: 4vw;
  }
  .content_form {
    font-size: 1.5vw;
  }
  .bottom_form {
    font-size: 1.5vw;
  }
  #nome {
    grid-column: 1/2;
  }
  #cognome {
    grid-column: 2/3;
    grid-row: 1;
  }
  #email {
    grid-column: 3/4;
    grid-row: 1;
  }
  #messaggio {
    margin-top: 15px;
    grid-row: 2;
    grid-column: 1/4;
  }
  #invia {
    margin-top: 2vh;
    grid-row: 3;
  }
}
