/* <=========================== Main Section ========================> */

.class_home {
  display: flex;
  flex-direction: column;
}

.class_home_text {
  margin-left: 8.5vw;
  margin-top: 30vw;
  z-index: 1;
}

.class_home_text img {
  width: 54vw;
  position: absolute;
  margin-top: -3.8px;
  margin-left: 21.5vw;
}

#home_text_nomobile {
  display: none;
}

#home_text_1 {
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#home_text_2 {
  padding-top: 8vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
}

#home_text_3 {
  padding-top: 4vh;
  color: #ed6931;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.linee_main_section {
  max-width: 100%;
  margin-top: 12vw;
  overflow: hidden;
  margin-bottom: 20vw;
}

.linee_main_section img {
  width: 150vw;
  height: auto;
  padding-top: 0px;
  margin-bottom: 1px;
}

.linee_main_nomobile {
  display: none;
}

#linee_animation_right {
  display: flex;
  animation: 20s carousel-left-to-right infinite linear;
  animation-delay: 0ms;
}

#linee_animation_left {
  display: flex;
  animation: 20s carousel-right-to-left infinite linear;
  animation-delay: 0ms;
}

/* <=========================== Section 2 ========================> */
.Chi_siamo {
  display: flex;
  justify-content: center;
}

.rettangolo_chisiamo {
  margin-right: 5.5vw;
  margin-left: 5.5vw;
  position: relative;
  width: 100%;
  height: 120vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

#testo1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo2 {
  position: absolute;
  margin-left: 16vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo3_nomobile {
  display: none;
  padding-top: 4vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-size: 3vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
}

#testo3_mobile {
  padding-top: 5.5vw;
  text-align: center;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

#testo4 {
  padding-top: 10vw;
  text-align: center;
  color: #2c9bd8;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

/* <=========================== Section 3 ========================> */

.servizi {
  margin-top: 20.5vw;
  margin-bottom: 8vw;
  text-align: center;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

.owl-carousel .item {
  border-radius: 40px;
  height: 115vw;
  padding: 1rem;
}

.owl-carousel .owl-dots {
  border-radius: 40px;
  padding-top: 4vw;
}

#item-1 {
  background-size: 112% 112%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/immagini_card_carosello/brand_id_carosello.png");
}

#item-2 {
  background-size: 112% 112%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/immagini_card_carosello/site_web_carosello.png");
}
#item-3 {
  background-size: 112% 112%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/immagini_card_carosello/C.png");
}
#item-4 {
  background-size: 112% 112%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/immagini_card_carosello/mobile_app_carosello.png");
}

#card-text {
  position: absolute;
  transform: translate(3vw, 105vw);
  color: #f8fafa;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

/* =========================== Section 4 ======================== */

.skill {
  margin-top: 8vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skill_text {
  margin-left: 1vw;
  margin-top: 5vh;
}

#skill_text_1 {
  text-align: center;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#skill_text_2 {
  text-align: center;
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
}

.pallini_skills {
  margin-top: 10vw;
  max-width: 100%;
}

.pallini_skills img {
  max-width: 100%;
}

.cerchi_skills {
  margin-top: -10vw;
  position: absolute;
  display: flex;
}

.cerchi_skills img {
  max-width: 100%;
}

#Cerchio_1 {
  position: absolute;
  width: 25vw;
  margin-top: -5vw;
  padding-left: 24vw;
}

#Cerchio_1 img {
  animation: spin 4s infinite linear;
}

#Cerchio_2 {
  position: absolute;
  width: 31vw;
  margin-top: -8vw;
  padding-left: 56.8vw;
}
#Cerchio_2 img {
  animation: spin-reverse 4s infinite linear;
}

#Cerchio_3 {
  width: 22vw;
  position: absolute;
  margin-top: 19vw;
  padding-left: 2vw;
  animation: spin 4s infinite linear;
}
#Cerchio_3 img {
  animation: spin 4s infinite linear;
}
#Cerchio_4 {
  width: 28vw;
  position: absolute;
  margin-top: 24vw;
  padding-left: 35vw;
}
#Cerchio_4 img {
  animation: spin-reverse 4s infinite linear;
}
#Cerchio_5 {
  width: 25vw;
  position: absolute;
  margin-top: 25vw;
  padding-left: 70vw;
}
#Cerchio_5 img {
  animation: spin 4s infinite linear;
}
#Cerchio_6 {
  width: 25vw;
  position: absolute;
  margin-top: 46.8vw;
  padding-left: 12.5vw;
}
#Cerchio_6 img {
  animation: spin-reverse 4s infinite linear;
}
#Cerchio_7 {
  width: 28vw;
  position: absolute;
  padding-left: 56vw;
  margin-top: 50vw;
}
#Cerchio_7 img {
  animation: spin 4s infinite linear;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* <=========================== Section 3 ========================> */
  .swiper-custom-pagination {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* <=========================== Section 3 ========================> */
  .swiper-custom-pagination {
    display: none;
  }

  .rettangolo_chisiamo {
    width: 100%;
    height: 115vw;
    border-radius: 75px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */
  .class_home_text {
    margin-top: 25vw;
  }

  #home_text_1 {
    font-size: 7.5vw;
  }

  #home_text_2 {
    padding-top: 5vw;
    font-size: 3vw;
  }

  #home_text_mobile {
    display: none;
  }
  #home_text_nomobile {
    display: block;
  }

  #home_text_3 {
    padding-top: 5vw;
    color: #ed6931;
    font-size: 3vw;
    text-decoration: underline;
  }

  .class_home_text img {
    width: 38vw;
    margin-left: 20vw;
  }

  .linee_main_section {
    margin-top: 8vw;
  }

  .linee_main_section img {
    width: 130vw;
    opacity: unset;
  }
  /* <=========================== Section 3 ========================> */
  .owl-carousel .item {
    border-radius: 40px;
    height: 65vw;
    background: #4dc7a0;
    padding: 1rem;
  }

  #card-text {
    transform: translate(2vw, 58vw);
    font-size: 3vw;
  }

  /* <=========================== Section 2 ========================> */

  .rettangolo_chisiamo {
    width: 85vw;
    height: 100vw;
  }

  #testo1 {
    text-align: center;
    margin-top: 2vh;
    opacity: 0.1;
    color: #f8fafa;
    font-size: 13vw;
    font-family: Champ;
    font-weight: 900;
  }

  #testo2 {
    position: absolute;
    margin-left: 16vw;
    margin-top: -10vw;
    color: #f8fafa;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
  }

  #testo3_mobile {
    padding-top: 4.2vw;
    text-align: center;
    margin-right: 3vw;
    margin-left: 3vw;
    color: #f8fafa;
    font-size: 3.5vw;
    font-family: Montserrat;
    font-weight: 400;
    word-wrap: break-word;
  }

  #testo4 {
    padding-top: 8vw;
    text-align: center;
    color: #2c9bd8;
    font-size: 3vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
  }

  #skill_text_2 {
    text-align: center;
    padding-top: 5vw;
    color: #2a3a45;
    font-size: 3vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  .item {
    margin-left: 1vw;
  }

  .pallini_skills {
    margin-top: 8vw;
    align-self: center;
    max-width: 80%;
  }

  .cerchi_skills {
    margin-top: -2.5vw;
    position: absolute;
    display: flex;
  }

  #Cerchio_1 {
    width: 21vw;
    margin-top: -6vw;
    padding-left: 28vw;
  }

  #Cerchio_2 {
    width: 24vw;
    margin-top: -8vw;
    padding-left: 56.8vw;
  }

  #Cerchio_3 {
    width: 17vw;
    margin-top: 13vw;
    margin-left: 8vw;
  }

  #Cerchio_4 {
    width: 22vw;
    margin-top: 17vw;
    padding-left: 38vw;
  }

  #Cerchio_5 {
    width: 22vw;
    margin-top: 17vw;
    padding-left: 67.5vw;
  }

  #Cerchio_6 {
    width: 20vw;
    margin-top: 34vw;
    padding-left: 19.5vw;
  }

  #Cerchio_7 {
    width: 22vw;
    padding-left: 55vw;
    margin-top: 38vw;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  .class_home {
    flex-direction: row;
  }

  .class_home_text {
    margin-left: 5vw;
    margin-top: 15vw;
    z-index: 1;
  }

  .class_home_text img {
    width: 30vw;
    margin-top: -5px;
    margin-left: 10.5vw;
  }

  #home_text_mobile {
    display: none;
  }
  #home_text_nomobile {
    display: block;
  }

  #home_text_1 {
    font-size: 5vw;
  }

  #home_text_2 {
    padding-top: 5vw;
    font-size: 2.2vw;
  }

  #home_text_3 {
    padding-top: 5vh;
    font-size: 2.2vw;
  }

  .linee_main_section {
    position: absolute;
    overflow: unset;
    right: 0;
    max-width: 100%;
    z-index: 0;
    margin-top: 0vw;
    margin-right: 6vw;
    margin-left: 10vw;
  }

  .linee_main_section img {
    width: 8vw;
    opacity: unset;
  }

  .linee_main_mobile {
    display: none;
  }

  .linee_main_nomobile {
    display: flex;
    height: 70vw;
    overflow: hidden;
  }

  #linee_animation_top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    animation: 20s carousel-bottom-to-top infinite linear;
    animation-delay: 0ms;
  }

  #linee_animation_bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    animation: 20s carousel-top-to-bottom infinite linear;
    animation-delay: 0ms;
  }

  /* <=========================== Section 2 ========================> */

  .rettangolo_chisiamo {
    width: 90vw;
    height: 42vw;
    border-radius: 10vw;
    margin-top: 14vw;
    margin-bottom: 1vw;
  }

  #testo1 {
    margin-top: 2vh;
    font-size: 12vw;
  }

  #testo2 {
    margin-left: 23vw;
    margin-top: -9vw;
    font-size: 4vw;
  }
  #testo3_mobile {
    display: none;
  }
  #testo3_nomobile {
    display: block;
    padding-top: 1.2vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 1.8vw;
  }

  #testo4 {
    padding-top: 3.2vw;
    text-align: center;
    font-size: 2vw;
  }

  /* <=========================== Section 3 ========================> */
  .servizi {
    font-size: 3.5vw;
    margin-top: 12vw;
    margin-bottom: 3.5vw;
  }

  .owl-carousel .item {
    border-radius: 40px;
    height: 42vw;
    background: #4dc7a0;
    padding: 1rem;
  }

  #card-text {
    transform: translate(2vw, 38vw);
    font-size: 2vw;
  }

  /* =========================== Section 4 ======================== */

  .skill {
    flex-direction: row;
  }

  .skill_text {
    margin-left: 1vw;
    margin-top: 12vw;
  }

  #skill_text_1 {
    font-size: 5vw;
  }

  #skill_text_2 {
    text-align: center;
    padding-top: 3vw;
    font-size: 1.7vw;
  }

  .pallini_skills {
    margin-top: 5vw;
    margin-left: 4vw;
    max-width: 100%;
  }

  .pallini_skills img {
    max-width: 50vw;
  }

  .cerchi_skills {
    margin-top: 0vw;
    position: absolute;
    display: flex;
  }

  .cerchi_skills img {
    max-width: 100%;
  }

  #Cerchio_1 {
    position: absolute;
    width: 13vw;
    margin-top: 6.5vw;
    padding-left: 6.5vw;
  }

  #Cerchio_2 {
    position: absolute;
    width: 15vw;
    margin-top: 5.5vw;
    padding-left: 23vw;
  }

  #Cerchio_3 {
    width: 11vw;
    position: absolute;
    margin-top: 18.7vw;
    margin-left: -6.2vw;
  }

  #Cerchio_4 {
    width: 13vw;
    position: absolute;
    margin-top: 21.4vw;
    padding-left: 12vw;
  }

  #Cerchio_5 {
    width: 12.5vw;
    position: absolute;
    margin-top: 21.8vw;
    padding-left: 30.2vw;
  }

  #Cerchio_6 {
    width: 12.5vw;
    position: absolute;
    margin-top: 32vw;
    padding-left: 0.3vw;
  }

  #Cerchio_7 {
    width: 13vw;
    position: absolute;
    padding-left: 23.3vw;
    margin-top: 34.4vw;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Main Section ========================> */

  .class_home {
    flex-direction: row;
  }

  .class_home_text {
    margin-left: 8vw;
    margin-top: 15vw;
    z-index: 1;
  }

  .class_home_text img {
    width: 23vw;
    margin-top: -8px;
    margin-left: 9vw;
  }

  #home_text_mobile {
    display: none;
  }
  #home_text_nomobile {
    display: block;
  }

  #home_text_1 {
    font-size: 4vw;
  }

  #home_text_2 {
    padding-top: 3vw;
    font-size: 1.5vw;
  }

  #home_text_3 {
    padding-top: 5.5vh;
    font-size: 1.8vw;
  }

  .linee_main_section {
    position: absolute;
    overflow: unset;
    right: 0;
    max-width: 100%;
    z-index: 0;
    margin-top: 0vw;
    margin-right: 6vw;
    margin-left: 10vw;
  }

  .linee_main_section img {
    padding-left: 5px;
    width: 8vw;
    opacity: unset;
  }

  .linee_main_mobile {
    display: none;
  }

  .linee_main_nomobile {
    display: flex;
    height: 70vw;
    overflow: hidden;
  }

  #linee_animation_top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    animation: 20s carousel-bottom-to-top infinite linear;
    animation-delay: 0ms;
  }

  #linee_animation_bottom {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    animation: 20s carousel-top-to-bottom infinite linear;
    animation-delay: 0ms;
  }
  /* <=========================== Section 2 ========================> */

  .rettangolo_chisiamo {
    width: 100%;
    height: 38vw;
    border-radius: 8vw;
    margin-top: 21vw;
  }

  #testo1 {
    margin-top: 2vh;
    font-size: 10vw;
  }

  #testo2 {
    margin-left: 29vw;
    margin-top: -7.5vw;
    font-size: 3vw;
  }
  #testo3_mobile {
    display: none;
  }
  #testo3_nomobile {
    display: block;
    padding-top: 1.2vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 1.5vw;
  }

  #testo4 {
    padding-top: 4vw;
    text-align: center;
    font-size: 1.8vw;
  }
  /* =========================== Section 3 ======================== */

  .servizi {
    font-size: 3.5vw;
    margin-top: 9.5vw;
    margin-bottom: 2.58vw;
  }

  .owl-carousel .item {
    border-radius: 40px;
    width: 85%;
    height: 39vw;
    background: #4dc7a0;
    padding: 1rem;
    margin-left: 10px;
  }

  #card-text {
    transform: translate(2vw, 36vw);
    font-size: 2vw;
  }
  /* =========================== Section 4 ======================== */
  .skill {
    flex-direction: row;
  }

  .skill_text {
    margin-left: 4vw;
    margin-top: 14vw;
  }

  #skill_text_1 {
    text-align: left;
    font-size: 3.5vw;
  }

  #skill_text_2 {
    text-align: left;
    padding-top: 2.5vw;
    font-size: 1.5vw;
  }

  .pallini_skills {
    margin-top: 5vw;
    margin-left: 6vw;
    max-width: 100%;
  }

  .pallini_skills img {
    max-width: 50vw;
  }

  .cerchi_skills {
    margin-left: 2.5vw;
    position: absolute;
    display: flex;
  }

  .cerchi_skills img {
    max-width: 100%;
  }

  #Cerchio_1 {
    position: absolute;
    width: 13vw;
    margin-top: 6.5vw;
    padding-left: 6.5vw;
  }

  #Cerchio_2 {
    position: absolute;
    width: 15vw;
    margin-top: 5.5vw;
    padding-left: 23vw;
  }

  #Cerchio_3 {
    width: 11vw;
    position: absolute;
    margin-top: 18.7vw;
    margin-left: -6.2vw;
  }

  #Cerchio_4 {
    width: 13vw;
    position: absolute;
    margin-top: 21.4vw;
    padding-left: 12vw;
  }

  #Cerchio_5 {
    width: 12.5vw;
    position: absolute;
    margin-top: 21.8vw;
    padding-left: 30.2vw;
  }

  #Cerchio_6 {
    width: 12.5vw;
    position: absolute;
    margin-top: 32vw;
    padding-left: 0.3vw;
  }

  #Cerchio_7 {
    width: 13vw;
    position: absolute;
    padding-left: 23.3vw;
    margin-top: 34.4vw;
  }
}

/* <=========================== Animation ========================> */

@keyframes carousel-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes carousel-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes carousel-top-to-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes carousel-bottom-to-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes wiggle-more {
  0%,
  100% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes jump {
  0%,
  100% {
    transform: scale(100%);
  }
  10% {
    transform: scale(80%);
  }
  50% {
    transform: scale(120%);
  }
}
