/* <=========================== Main Section ========================> */

.mobileApp {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 210vw;
}

.mobileApp-text {
  margin-left: 11vw;
  margin-top: 33.35vw;
  z-index: 1;
}

#mobileApp-text-1 {
  margin-left: 1.5vw;
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

.decorazione-main {
  transform: translate(-85%, -50%);
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/decorazioni/tratti_gialli.png");
}

#linea-testo img {
  margin-top: 1vw;
  width: 60.5vw;
}

#mobileApp-text-2 {
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
}

#mobileApp-text-nomobile {
  display: none;
}

#mobileApp-text-3 {
  padding-top: 3.5vh;
  color: #ed6931;
  font-size: 4.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.mobileApp-img {
  z-index: 2;
  margin-top: 8vw;
  margin-left: -14vw;
  position: relative;
  width: 115%;
  height: 110vw;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/mobile_app/mobile_app_home.png");
}

#ellisse-app {
  transform: translate(65%, -315%);
  position: relative;
  width: 65vw;
}

/* <=========================== Section 2 ========================> */

.mobileapp-container {
  margin-top: 34vw;
  margin-bottom: 15vw;
  height: 180vw;
}

.mobileapp-1-desktop {
  display: none;
}

.mobileapp-2-desktop {
  display: none;
}

.mobileapp-1-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileapp-2-mobile {
  margin-top: 15vw;
  transform: translateY(-35%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sfondo {
  transform: translateY(-5%);
  width: 75vw;
  height: 75vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/brand_identity/loghi/retro_logo.png");
}

.sfondo-2 {
  transform: translateY(-2%);
  width: 75vw;
  height: 75vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/brand_identity/loghi/retro_logo.png");
}

#mobileapp-text-scopri-mobile {
  position: absolute;
  padding-top: 15vw;
  color: #ed6931;
  font-size: 4.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.cerchio-1 {
  z-index: 0;
  transform: translate(0%, -102%);
  width: 75vw;
  height: 75vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../assets/brand_identity/loghi/cerchi/1_cerchio.png");
}

.cerchio-2 {
  z-index: 0;
  transform: translate(0%, -102%);
  width: 75vw;
  height: 75vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../assets/brand_identity/loghi/cerchi/2_cerchio.png");
}

.mobileapp-1 {
  margin-left: 8vw;
  transform: translateY(-35%);
  position: absolute;
  width: 105vw;
  margin-right: 5vw;
  height: 110vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/mobile_app/MyFitness/myfitness_app.png");
  z-index: 1;
}

.mobileapp-2 {
  margin-left: 8vw;
  transform: translateY(-35%);
  position: absolute;
  width: 105vw;
  margin-right: 5vw;
  height: 110vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/mobile_app/Amat/amat_app.png");
  z-index: 1;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #ellisse-app {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* <=========================== Main Section ========================> */

  #mobileApp-text-1 {
    margin-left: 3vw;
    font-size: 8vw;
  }

  .decorazione-main {
    margin-top: -1vw;
    transform: translate(-55%, -50%);
  }

  #linea-testo img {
    margin-top: 1.5vw;
    margin-left: 2vw;
    width: 52vw;
  }

  #mobileApp-text-2 {
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 3vw;
  }

  #mobileApp-text-mobile {
    display: block;
  }

  #mobileApp-text-nomobile {
    display: none;
  }

  #mobileApp-text-3 {
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 3.5vw;
  }

  #ellisse-app {
    display: none;
  }
  /* <=========================== Section 2 ========================> */

  .mobileapp-container {
    margin-top: 20vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .mobileApp-text {
    margin-left: 8.5vw;
    margin-top: 25vw;
  }

  #mobileApp-text-1 {
    margin-left: 3vw;
    font-size: 7.5vw;
  }

  .decorazione-main {
    transform: translate(-60%, -50%);
    width: 7vw;
    height: 7vw;
  }

  #linea-testo img {
    width: 55vw;
  }

  #mobileApp-text-2 {
    padding-top: 5vw;
    font-size: 3vw;
  }

  #mobileApp-text-mobile {
    display: none;
  }

  #mobileApp-text-nomobile {
    display: block;
  }

  #mobileApp-text-3 {
    padding-top: 3vh;
    font-size: 3.5vw;
  }

  #ellisse-app {
    display: none;
  }

  /* <=========================== Section 2 ========================> */

  .mobileapp-container {
    margin-top: 0vw;
  }

  .mobileapp-2-mobile {
    transform: translateY(0%);
    padding-top: 20vw;
  }

  .cerchio-1 {
    z-index: 0;
    transform: translate(2%, 0%);
    width: 75vw;
    height: 75vw;
  }

  .cerchio-2 {
    z-index: 0;
    transform: translate(2%, 0%);
    width: 75vw;
    height: 75vw;
  }

  .sfondo {
    transform: translateY(-5%);
    position: absolute;
    width: 75vw;
    height: 75vw;
  }

  .sfondo-2 {
    transform: translateY(-5%);
    position: absolute;
    width: 75vw;
    height: 75vw;
  }

  #mobileapp-text-scopri-mobile {
    padding-top: 90vw;
  }

  .mobileapp-1 {
    transform: translateY(-5%);
    height: 110vw;
    width: 105vw;
    margin-right: 5vw;
  }

  .mobileapp-2 {
    transform: translateY(-5%);
    height: 110vw;
    width: 105vw;
    margin-right: 5vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  .mobileApp {
    height: 80vw;
  }

  .mobileApp-text {
    margin-left: 2vw;
    margin-top: 20vw;
    z-index: 1;
  }

  #mobileApp-text-1 {
    padding-left: 2vw;
    font-size: 5vw;
  }

  .decorazione-main {
    transform: translate(-10%, -40%);
    position: absolute;
    width: 7vw;
    height: 7vw;
  }

  #linea-testo img {
    margin-top: 0.8vw;
    padding-left: 2vw;
    width: 32vw;
    height: 1.5vw;
  }

  #mobileApp-text-2 {
    padding-left: 2vw;
    padding-top: 2vw;
    font-size: 1.8vw;
  }

  /* #mobileApp-text-nomobile {
    display: block;
  } */

  #mobileApp-text-3 {
    padding-left: 2vw;
    padding-top: 3.5vh;
    font-size: 2vw;
  }

  .mobileApp-img {
    transform: translate(120%, -52vw);
    margin-left: -25vw;
    width: 60%;
    height: 50vw;
  }

  .decorazione-mobileapp {
    display: block;
  }

  /* <=========================== Section 2 ========================> */

  .mobileapp-container {
    margin-top: 0vw;
    overflow: hidden;
    height: 90vw;
  }

  .mobileapp-1-mobile {
    display: none;
  }

  .mobileapp-2-mobile {
    display: none;
  }

  .mobileapp-1-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .mobileapp-2-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .cerchio-1 {
    grid-row: 1;
    grid-column: 1/2;
    transform: translate(19%, -25%);
    width: 40vw;
    height: 40vw;
  }

  .cerchio-2 {
    grid-row: 1;
    grid-column: 3/4;
    transform: translate(-158%, 4%);
    width: 40vw;
    height: 40vw;
  }

  .sfondo {
    grid-row: 1;
    grid-column: 1/2;
    transform: translate(20%, -25%);
    position: absolute;
    width: 40vw;
    height: 40vw;
  }

  .sfondo-2 {
    grid-row: 1;
    grid-column: 3/4;
    transform: translate(144%, 5%);
    position: absolute;
    width: 40vw;
    height: 40vw;
  }

  .mobileapp-1 {
    transform: translate(-5%, -35%);
    position: absolute;
    width: 55vw;
    height: 75vw;
    margin-top: -1vw;
    margin-left: 4vw;
    margin-right: 5vw;
  }

  .mobileapp-2 {
    margin-top: 0.4vw;
    margin-left: 16vw;
    margin-right: 5vw;
    transform: translate(68%, -20%);
    position: relative;
    width: 52vw;
    height: 75vw;
  }

  #mobileapp-2-img {
    position: relative;
    width:100%;
    height: 45vw;
  }

  .decorazione-1 {
    transform: translate(930%, -40%);
    position: absolute;
    width: 7vw;
    height: 7vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/tratti_gialli.png");
  }

  .decorazione-2 {
    transform: translate(270%, 70%);
    position: absolute;
    width: 7vw;
    height: 7vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/decorazioni/stelle_blu.png");
  }

  .informazioni {
    display: flex;
    flex-direction: column;
  }

  .informazioni-2 {
    transform: translateX(-150%);
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
  }

  .mobileapp-h1-desktop {
    height: 10vw;
    margin-right: 3vw;
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: end;
  }

  .mobileapp-h1-desktop-2 {
    height: 5vw;
    margin-left: 3vw;
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: start;
  }

  .mobileapp-text-desktop {
    margin-right: 3vw;
    padding-top: 2vh;
    text-align: end;
    font-family: Montserrat;
    font-weight: 500;
  }

  .mobileapp-text-desktop-2 {
    width: 45vw;
    margin-left: 3vw;
    padding-top: 2vh;
    text-align: start;
    font-family: Montserrat;
    font-weight: 500;
  }

  #mobileapp-text-scopri {
    padding-top: 2vh;
    margin-right: 3vw;
    color: #ed6931;
    font-size: 2.5vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
    text-align: end;
  }

  #mobileapp-text-scopri-2 {
    padding-top: 2vh;
    margin-left: 3vw;
    color: #ed6931;
    font-size: 2.5vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
    text-align: start;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Main Section ========================> */

  .mobileApp {
    height: 80vw;
  }

  .mobileApp-text {
    margin-left: 5vw;
    margin-top: 15vw;
    z-index: 1;
  }

  #mobileApp-text-1 {
    padding-left: 1vw;
    font-size: 4vw;
  }

  .decorazione-main {
    transform: translate(-5%, -40%);
    position: absolute;
    width: 5vw;
    height: 5vw;
  }

  #linea-testo img {
    padding-left: 1vw;
    width: 25vw;
    height: 1.2vw;
  }

  #mobileApp-text-2 {
    padding-left: 1vw;
    padding-top: 0vw;
    font-size: 1.4vw;
  }

  #mobileApp-text-nomobile {
    display: block;
  }

  #mobileApp-text-3 {
    padding-left: 1vw;
    padding-top: 2vh;
    font-size: 1.5vw;
  }

  .mobileApp-img {
    transform: translate(85%, -44vw);
    margin-left: -25vw;
    width: 75%;
    height: 50vw;
  }

  #ellisse-app {
    transform: translate(55%, -285%);
    position: relative;
    width: 65vw;
  }

  /* <=========================== Section 2 ========================> */


  .decorazione-2 {
    transform: translate(500%, 70%);
  }

  .cerchio-2 {
    transform: translate(-164%, 4%);
  }

  .sfondo-2 {
    transform: translate(144%, 5%);
  }

  .informazioni-2 {
    transform: translateX(-140%);
    display: flex;
    flex-direction: column;
  }

  .mobileapp-h1-desktop {
    grid-row: 1;
    height: 10vw;
    margin-right: 3vw;
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: end;
  }

  .mobileapp-h1-desktop-2 {
    grid-row: 1;
    height: 10vw;
    margin-right: 3vw;
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: start;
  }

  .mobileapp-text-desktop {
    margin-right: 3vw;
    font-size: 1.5vw;
    padding-top: 2vh;
    text-align: end;
    color: #2a3a45;
    font-family: Montserrat;
    font-weight: 500;
  }

  .mobileapp-text-desktop-2 {
    margin-right: 3vw;
    font-size: 1.5vw;
    padding-top: 3vh;
    text-align: start;
    color: #2a3a45;
    font-family: Montserrat;
    font-weight: 500;
  }

  #mobileapp-text-scopri {
    padding-top: 5vh;
    margin-right: 3vw;
    color: #ed6931;
    font-size: 2.5vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
    text-align: end;
  }

  #mobileapp-text-scopri-2 {
    padding-top: 5vh;
    margin-right: 3vw;
    color: #ed6931;
    font-size: 2.5vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
    text-align: start;
  }
}
