@font-face {
  font-family: "Champ";
  src: url("Champ-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --boopstudio-blue: #2c9bd8;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

/* <=========================== Tutto il sito ========================> */

* {
  margin: 0px;
  padding: 0px;
}

/* <=========================== Link ========================> */

a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /* Colore dei link visitati */
}

/* <=========================== Body ========================> */

body {
  background-color: white;
}

/* <=========================== Header ========================> */
header {
  opacity: 0.96;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 10.5vh;
}

.menu_linee {
  margin-right: 8.5vw;
  margin-bottom: 2.5vw;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 2.5px;
  border-radius: 30px;
  background-color: #333;
  margin: 4.5px 0;
  transition: all ease-in-out 0.4s;
}

.change .bar1 {
  transform: translate(0, 4px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

.header_content {
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#check {
  display: none;
}

.header_logo {
  margin: 1vh;
  margin-left: 5vh;
}

.header_menu {
  padding-bottom: 0;
}

.header_menu li {
  display: inline-block;
}

.header_menu li a {
  display: block;
  padding: 45px;
  color: #2a3a45;
  font-size: 30px;
  font-weight: 500;
  word-wrap: break-word;
}

/* <=========================== Contattacci ========================> */

#linee_animation_right {
  display: flex;
  animation: 20s carousel-left-to-right infinite linear;
  animation-delay: 0ms;
}

#linee_animation_left {
  display: flex;
  animation: 20s carousel-right-to-left infinite linear;
  animation-delay: 0ms;
}

.Contattaci {
  margin-top: 8vw;
  display: flex;
  justify-content: center;
}

.linee_orizzontali {
  width: 100%;
  overflow: hidden;
  padding-top: 5vh;
}

.linee_orizzontali img {
  pointer-events: none;
  width: 250vw;
}

.rettangolo_contenitore_contattaci {
  position: absolute;
  width: 85vw;
  height: 120vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  margin-top: 9.4vh;
}

#testo-contattacci {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  color: #f8fafa;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
}

.dati {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
  margin-top: 3.5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.dati input {
  padding-bottom: 10px;
}

.content_form {
  background-color: transparent;
  color: rgba(248, 250, 250, 0.4);
  font-size: 5vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  border: none;
}

.content_form.active {
  color: #ffffff;
}

.bottom_form {
  border: none;
  background-color: transparent;
  color: #2c9bd8;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.content_form:focus {
  outline: white;
}

.linea {
  position: absolute;
  color: #f8fafa;
  width: 110px;
  height: 5px;
  border: 2px;
  z-index: 100;
}

#nome {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 1;
  position: relative;
  border-radius: 0 0 2px 2px;
  border-bottom: 1.8px solid #f8fafa;
}

#cognome {
  margin-top: 3vw;
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 0 0 2px 2px;
  border-bottom: 1.8px solid #f8fafa;
}

#email {
  margin-top: 3vw;
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 3;
  border-radius: 0 0 2px 2px;
  border-bottom: 1.8px solid #f8fafa;
}

#messaggio {
  margin-top: 3vw;
  margin-right: 10px;
  margin-top: 20px;
  grid-column: 1/4;
  grid-row: 4;
  border-radius: 0 0 2px 2px;
  border-bottom: 1.8px solid #f8fafa;
  resize: none;
}

#invia {
  grid-column: 1/4;
  justify-self: center;
  margin-top: 4vh;
}
#linea_7_orizzontale {
  display: none;
}
#linea_7_animazione {
  display: none;
}
#linea_8_orizzontale {
  display: none;
}
#linea_8_animazione {
  display: none;
}

/* <=========================== Footer ========================> */

.container {
  width: 100%;
  height: auto;
}
.row {
  display: grid;
  grid-auto-rows: auto;
}
.footer {
  background-color: #2a3a45;
  padding-left: 8vw;
  margin-top: 8vw;
}
.footer-col1 {
  grid-column: 1/4;
  width: auto;
  color: #f8fafa;
  margin-top: 3.5vh;
}
.footer-col2 {
  grid-column: 1/4;
  grid-row: 2;
  width: auto;
  color: #f8fafa;
  margin-top: 40px;
}
.footer-col3 {
  grid-column: 1/4;
  grid-row: 3;
  width: auto;
  color: #f8fafa;
  margin-top: 40px;
}

.footer-text {
  font-size: 6vw;
  font-family: "Champ";
  font-weight: 900;
}

.contatti-text h1 {
  font-size: 5vw;
}

.contatti-text p {
  margin-top: 10px;
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* MEDIA QUERY */

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .footer {
    margin-top: 10vh;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .footer {
    margin-top: 16vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* <=========================== Header ========================> */

  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: rgba(255, 253, 253, 0.76);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    transition: 0.75s ease;
  }
  .header_menu li {
    padding-top: 5vw;
    display: block;
  }

  .header_menu li a {
    padding: 1vw;
    color: rgba(42, 58, 69, 1);
    text-align: center;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #check:checked ~ .header_menu {
    height: 70vw;
  }

  .header_content {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .header_logo {
    max-width: 74%;
  }
  .header_logo img {
    width: 42%;
    margin-top: 0.5vh;
    margin-left: 1vh;
  }

  /* <=========================== Footer ========================> */

  .container {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* <=========================== Header ========================> */

  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: rgba(255, 253, 253, 0.76);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    transition: 0.75s ease;
  }
  .header_menu li {
    padding-top: 5vw;
    display: block;
  }

  .header_menu li a {
    padding: 2.5vw;
    color: rgba(42, 58, 69, 1);
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #check:checked ~ .header_menu {
    height: 72vw;
  }

  .header_content {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .header_logo {
    max-width: 80%;
  }
  .header_logo img {
    width: 60%;
    margin-top: 0px;
    margin-left: 0px;
  }
  /* <=========================== Contattacci ========================> */
  .dati {
    gap: 6vw;
  }

  .rettangolo_contenitore_contattaci {
    margin-top: 10.5vw;
  }
  /* <=========================== Footer ========================> */

  .container {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .footer-col2 {
    grid-column: 1/2;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 2;
  }

  .footer-text {
    font-size: 4.5vw;
  }

  .contatti-text h1 {
    font-size: 3.5vw;
  }

  .contatti-text p {
    font-size: 2.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Header ========================> */

  .menu_linee {
    margin-right: 9vw;
    margin-bottom: 3vw;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 28px;
    height: 3px;
    border-radius: 30px;
    background-color: #333;
    margin: 5.2px 0;
    transition: all ease-in-out 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 5.4px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
    transition: all ease-in-out 0.4s;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .header {
    height: 9.2vh;
  }

  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: rgba(255, 253, 253, 0.76);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    transition: 0.75s ease;
  }
  .header_menu li {
    display: block;
  }
  .header_menu li a {
    padding: 2vw;
    color: rgba(42, 58, 69, 1);
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  .header_logo {
    transform: translateY(-10px);
    text-align: center;
    max-width: 80%;
    margin-left: 2.5vw;
    margin-bottom: 1vw;
  }
  .header_logo img {
    width: 70%;
    margin-left: 0px;
  }

  /* <=========================== Contattacci ========================> */

  .linee_orizzontali img {
    pointer-events: none;
    width: 160vw;
  }

  .rettangolo_contenitore_contattaci {
    margin-top: 11vw;
    width: 78vw;
    height: 80vw;
  }
  .dati {
    padding-top: 0vh;
  }
  #testo-contattacci {
    font-size: 5vw;
  }
  .content_form {
    font-size: 3vw;
  }

  .bottom_form {
    font-size: 3vw;
  }
  #cognome {
    margin-top: -1vw;
  }
  #email {
    margin-top: -1vw;
  }
  #messaggio {
    margin-top: -1vw;
  }
  #invia {
    margin-top: 1vw;
  }
 


  /* <=========================== Footer ========================> */

  .footer-col2 {
    grid-column: 1/2;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 2;
  }

  .footer-text {
    font-size: 4vw;
  }

  .contatti-text h1 {
    font-size: 2.5vw;
  }

  .contatti-text p {
    font-size: 2vw;
  }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  /* <=========================== Header ========================> */
  /* 
  header {
    height: auto;
  }

  .header_content {
    margin-top: 0vw;
  }

  .header {
    opacity: 0.96;
  }

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
  }

  .header_menu {
    top: 0px;
    position: relative;
    height: initial;
    width: auto;
    background: none;
    background-color: initial;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  #check {
    display: none;
  }


  .header_logo {
    max-width: 70%;
    margin: 40px 0px 30px 0px;
    margin-left: 40px;
  }

  .header_logo img {
    width: 74%;
  }

  .header_menu {
    padding-bottom: 0;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 0px;
    margin-left: 40px;
    color: #2a3a45;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #contattati {
    margin-right: 60px;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Header ========================> */

  .header {
    height: 12vh;
  }

  #check {
    display: none;
  }

  .menu_linee {
    display: none;
  }

  .header_content {
    margin-top: 0vw;
  }

  .header {
    opacity: 0.96;
  }

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
  }

  .header_menu {
    top: 0px;
    margin-bottom: 5vw;
    position: relative;
    height: initial;
    width: auto;
    background: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background-color: none;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  .header_logo {
    transform: translateY(0px);
    max-width: 80%;
    margin: 40px 0px 30px 0px;
    margin-left: 1.5vw;
  }

  .header_logo img {
    width: 55%;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 0px;
    margin-left: 35px;
    color: #2a3a45;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #contattati {
    margin-right: 75px;
  }

  /* <=========================== Contattacci ========================> */

  .Contattaci {
    margin-top: 6.5vw;
  }

  #linea_5_orizzontale {
    display: none;
  }
  #linea_5_animazione {
    display: none;
  }
  #linea_6_orizzontale {
    display: none;
  }
  #linea_6_animazione {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  #linea_7_animazione {
    display: none;
  }
  #linea_8_orizzontale {
    display: none;
  }
  #linea_8_animazione {
    display: none;
  }

  .linee_orizzontali img {
    max-width: 110%;
  }
  .rettangolo_contenitore_contattaci {
    margin-top: 7.3vw;
    border-radius: 82px;
    width: 90%;
    height: 32vw;
  }
  .dati {
    width: 75%;
    gap: 1.2vw;
    margin: 20px auto;
    padding-top: 2vw;
  }
  #testo-contattacci {
    margin-top: 3vw;
    font-size: 3vw;
  }
  .content_form {
    font-size: 1.8vw;
  }
  .bottom_form {
    font-size: 1.5vw;
  }
  #nome {
    grid-column: 1/2;
  }
  #cognome {
    grid-column: 2/3;
    grid-row: 1;
  }
  #email {
    grid-column: 3/4;
    grid-row: 1;
  }
  #messaggio {
    margin-top: 15px;
    grid-row: 2;
    grid-column: 1/4;
  }
  #invia {
    font-size: 1.8vw;
    margin-top: 2vw;
    grid-row: 3;
  }

  /* <=========================== Footer ========================> */
  .container {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .footer-col1 {
    grid-column: 1/2;
  }
  .footer-col2 {
    grid-column: 2/3;
    grid-row: 1;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 1;
  }

  .footer-text {
    padding-top: 5px;
    font-size: 2.5vw;
  }

  .contatti-text h1 {
    font-size: 2.2vw;
  }

  .contatti-text p {
    font-size: 1vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Header ========================> */

  .header {
    height: auto;
  }

  #check {
    display: none;
  }

  .header_content {
    margin-top: 0vw;
  }

  .header {
    opacity: 0.96;
  }

  .header_menu {
    top: 0px;
    position: relative;
    height: initial;
    width: auto;
    background: none;
    background-color: initial;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  .header_logo {
    transform: translateY(0px);
    max-width: 70%;
    margin: 40px 0px 30px 0px;
    margin-left: 48px;
  }

  .header_logo img {
    width: 64%;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 0px;
    margin-left: 45px;
    color: #2a3a45;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #contattati {
    margin-right: 80px;
  }

  /* .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100);
    transition: all 2s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  } */

  /* <=========================== Contattacci ========================> */

  .Contattaci {
    margin-top: 6.5vw;
  }

  #linea_5_orizzontale {
    display: none;
  }
  #linea_5_animazione {
    display: none;
  }
  #linea_6_orizzontale {
    display: none;
  }
  #linea_6_animazione {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  #linea_7_animazione {
    display: none;
  }
  .linee_orizzontali img {
    max-width: 110%;
  }
  .rettangolo_contenitore_contattaci {
    margin-top: 6.4vw;
    border-radius: 150px;
    width: 88%;
    height: 32vw;
  }
  .dati {
    width: 80%;
    gap: 1.5vw;
    /* margin: 50px auto; */
    padding-top: 4vw;
  }
  #testo-contattacci {
    padding-top: 0vw;
    font-size: 2.8vw;
  }
  .content_form {
    font-size: 1.6vw;
  }
  .bottom_form {
    font-size: 1.5vw;
  }
  #nome {
    grid-column: 1/2;
  }
  #cognome {
    grid-column: 2/3;
    grid-row: 1;
  }
  #email {
    grid-column: 3/4;
    grid-row: 1;
  }
  #messaggio {
    margin-top: 15px;
    grid-row: 2;
    grid-column: 1/4;
  }
  #invia {
    font-size: 1.8vw;
    margin-top: 2.5vw;
    grid-row: 3;
  }

  /* <=========================== Footer ========================> */
}

/* <=========================== Animation ========================> */

@keyframes carousel-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes carousel-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes carousel-top-to-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes carousel-bottom-to-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
