@font-face {
  font-family: "Champ";
  src: url("Champ-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --boopstudio-blue: #2c9bd8;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

/* <=========================== Tutto il sito ========================> */

* {
  margin: 0px;
  padding: 0px;
}

/* <=========================== Link ========================> */

a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /* Colore dei link visitati */
}

/* <=========================== Body ========================> */

body {
  background-color: white;
}

/* <=========================== Header ========================> */

header {
  opacity: 0.96;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#check {
  display: none;
}

.hamburger_icon {
  display: none;
}

.hamburger_icon img {
  width: 4vh;
  height: auto;
}

.header_logo {
  margin: 1vh;
  margin-left: 5vh;
}

.header_menu {
  padding-bottom: 0;
}

.header_menu li {
  display: inline-block;
}

.header_menu li a {
  display: block;
  padding: 45px;
  color: #2a3a45;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
}
/* <=========================== Contattacci ========================> */

#linee_animation_right {
  display: flex;
  animation: 10s carousel-left-to-right infinite linear;
  animation-delay: 0ms;
}

#linee_animation_left {
  display: flex;
  animation: 10s carousel-right-to-left infinite linear;
  animation-delay: 0ms;
}

.Contattaci {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.linee_orizzontali {
  width: 100%;
  overflow: hidden;
  padding-top: 5vh;
}

.linee_orizzontali img {
  pointer-events: none;
  width: 200vw;
}

.rettangolo_contenitore_contattaci {
  position: absolute;
  width: 85vw;
  height: 120vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  margin-top: 6.5vh;
}

#testo-contattacci {
  margin-top: 3.5vh;
  display: flex;
  justify-content: center;
  color: #f8fafa;
  font-size: 10vw;
  font-family: Champ;
  font-weight: 900;
}

.dati {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 8px;
  margin-top: 3.5vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.dati input {
  padding-bottom: 10px;
}

.content_form {
  background-color: transparent;
  color:#f8fafac0;
  font-size: 5vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  border: none;
}

.bottom_form {
  border: none;
  background-color: transparent;
  color: #2c9bd8;
  font-size: 4.446vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.content_form:focus {
  outline: white;
}

.linea {
  position: absolute;
  color: #f8fafa;
  width: 110px;
  height: 10px;
  border: 2px;
  z-index: 100;
}

#nome {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 1;
  position: relative;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
}

#cognome {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 2;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
}

#email {
  margin-right: 10px;
  grid-column: 1/4;
  grid-row: 3;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
}

#messaggio {
  margin-right: 10px;
  margin-top: 20px;
  grid-column: 1/4;
  grid-row: 4;
  border-radius: 0 0 2px 2px;
  border-bottom: 3px solid #f8fafa;
  resize: none;
}

#invia {
  grid-column: 1/4;
  justify-self: center;
  margin-top: 4vh;
}

/* <=========================== Footer ========================> */

.container {
  width: 100%;
  height: auto;
}
.row {
  display: grid;
  grid-auto-rows: auto;
}
.footer {
  background-color: #2a3a45;
  padding-left: 8vw;
}
.footer-col1 {
  grid-column: 1/4;
  width: auto;
  color: #f8fafa;
  margin-top: 3.5vh;
}
.footer-col2 {
  grid-column: 1/4;
  grid-row: 2;
  width: auto;
  color: #f8fafa;
  margin-top: 40px;
}
.footer-col3 {
  grid-column: 1/4;
  grid-row: 3;
  width: auto;
  color: #f8fafa;
  margin-top: 40px;
}

.footer-text {
  font-size: 6vw;
  font-family: "Champ";
  font-weight: 900;
}

.contatti-text h1 {
  font-size: 5vw;
}

.contatti-text p {
  margin-top: 10px;
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* <=========================== Header ========================> */

  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: rgba(255, 253, 253, 0.76);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .header_menu li {
    display: block;
  }
  .header_menu li a {
    padding: 4vh;
    color: rgba(42, 58, 69, 1);
    text-align: center;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #check:checked ~ .hamburger_icon #menu_icon {
    display: none;
  }
  .hamburger_icon #close_icon {
    display: none;
  }
  #check:checked ~ .hamburger_icon #close_icon {
    display: block;
  }
  #check:checked ~ .header_menu {
    height: 52vh;
  }
  

  .header_content {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .hamburger_icon {
    display: block;
    margin-right: 6vw;
    margin-bottom: 1vh;
  }
  .hamburger_icon img {
    max-width: 92%;
  }
  .header_logo {
    max-width: 70%;
  }
  .header_logo img {
    width: 60%;
    margin-top: 0.5vh;
    margin-left: 1vh;
  }

  /* <=========================== Footer ========================> */

  .container {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* <=========================== Header ========================> */

  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: rgba(255, 253, 253, 0.76);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .header_menu li {
    display: block;
  }
  .header_menu li a {
    padding: 45px;
    color: rgba(42, 58, 69, 1);
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #check:checked ~ .hamburger_icon #menu_icon {
    display: none;
  }
  .hamburger_icon #close_icon {
    display: none;
  }
  #check:checked ~ .hamburger_icon #close_icon {
    display: block;
  }
  #check:checked ~ .header_menu {
    height: 55vh;
  }

  .hamburger_icon {
    position: fixed;
    display: block;
    margin-left: 5vh;
    margin-bottom: 1vh;
  }
  #close_icon {
    width: 40%;
  }
  #menu_icon {
    width: 65%;
  }
  .header_logo {
    text-align: center;
    max-width: 80%;
    margin: 10px auto;
  }
  .header_logo img {
    width: 80%;
    margin-left: 0px;
  }
  /* <=========================== Contattacci ========================> */
  .dati {
    gap: 6vw;
  }

  .rettangolo_contenitore_contattaci {
    margin-top: 10.5vw;
  }
  /* <=========================== Footer ========================> */

  .container {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .footer-col2 {
    grid-column: 1/2;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 2;
  }

  .footer-text {
    font-size: 4.5vw;
  }

  .contatti-text h1 {
    font-size: 3.5vw;
  }

  .contatti-text p {
    font-size: 2.5vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Header ========================> */

  .header_menu {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: rgba(255, 253, 253, 0.76);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 0px 0px;
    transition: 0.5s ease;
  }
  .header_menu li {
    display: block;
  }
  .header_menu li a {
    padding: 45px;
    color: rgba(42, 58, 69, 1);
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #check:checked ~ .hamburger_icon #menu_icon {
    display: none;
  }
  .hamburger_icon #close_icon {
    display: none;
  }
  #check:checked ~ .hamburger_icon #close_icon {
    display: block;
  }
  #check:checked ~ .header_menu {
    height: 60vw;
  }

  .hamburger_icon {
    position: fixed;
    display: block;
    margin-left: 3vh;
    margin-bottom: 1vh;
  }
  #close_icon {
    width: 40%;
  }
  #menu_icon {
    width: 65%;
  }
  .hamburger_icon img {
    max-width: 70%;
  }
  .header_logo {
    text-align: center;
    max-width: 80%;
    margin: 10px auto;
  }

  /* <=========================== Contattacci ========================> */

  .rettangolo_contenitore_contattaci {
    margin-top: 12vw;
    width: 78vw;
    height: 80vw;
  }
  .dati {
    padding-top: 2vh;
  }
  #testo-contattacci {
    font-size: 5vw;
  }
  .content_form {
    font-size: 2vw;
  }

  .bottom_form {
    font-size: 2.5vw;
  }
  #linea_5_orizzontale {
    display: none;
  }
  #linea_5_animazione {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  #linea_7_animazione {
    display: none;
  }

  /* <=========================== Footer ========================> */

  .footer-col2 {
    grid-column: 1/2;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 2;
  }

  .footer-text {
    font-size: 4vw;
  }

  .contatti-text h1 {
    font-size: 2.5vw;
  }

  .contatti-text p {
    font-size: 2vw;
  }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
   /* <=========================== Header ========================> */

   .header {
    opacity: 0.96;
  }

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
  }

  .header_menu {
    top: 0px;
    position: relative;
    height: initial;
    width: auto;
    background: none;
    background-color: initial;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  #check {
    display: none;
  }

  .hamburger_icon {
    display: none;
  }

  .hamburger_icon img {
    width: 35px;
    height: auto;
  }

  .header_logo {
    max-width: 70%;
    margin: 40px 0px 30px 0px;
    margin-left: 40px;
  }

  .header_logo img {
    width: 74%;
  }

  .header_menu {
    padding-bottom: 0;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 0px;
    margin-left: 40px;
    color: #2a3a45;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #contattati {
    margin-right: 60px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Header ========================> */

  .header {
    opacity: 0.96;
  }

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
  }

  .header_menu {
    top: 0px;
    position: relative;
    height: initial;
    width: auto;
    background: none;
    background-color: initial;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  #check {
    display: none;
  }

  .hamburger_icon {
    display: none;
  }

  .hamburger_icon img {
    width: 35px;
    height: auto;
  }

  .header_logo {
    max-width: 70%;
    margin: 40px 0px 30px 0px;
    margin-left: 40px;
  }

  .header_logo img {
    width: 74%;
  }

  .header_menu {
    padding-bottom: 0;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 0px;
    margin-left: 40px;
    color: #2a3a45;
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  #contattati {
    margin-right: 60px;
  }


  /* <=========================== Contattacci ========================> */

  #linea_5_orizzontale {
    display: none;
  }
  #linea_5_animazione {
    display: none;
  }
  #linea_6_orizzontale {
    display: none;
  }
  #linea_6_animazione {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  #linea_7_animazione {
    display: none;
  }

  .linee_orizzontali img {
    max-width: 100%;
  }
  .rettangolo_contenitore_contattaci {
    margin-top: 6.5vw;
    border-radius: 95px;
    width: 90%;
    height: 32vw;
  }
  .dati {
    width: 70%;
    gap: 1.5vw;
    margin: 40px auto;
    padding-top: 2vw;
  }
  #testo-contattacci {
    font-size: 3vw;
  }
  .content_form {
    font-size: 1.3vw;
  }
  .bottom_form {
    font-size: 1.5vw;
  }
  #nome {
    grid-column: 1/2;
  }
  #cognome {
    grid-column: 2/3;
    grid-row: 1;
  }
  #email {
    grid-column: 3/4;
    grid-row: 1;
  }
  #messaggio {
    margin-top: 15px;
    grid-row: 2;
    grid-column: 1/4;
  }
  #invia {
    margin-top: 2vh;
    grid-row: 3;
  }

  /* <=========================== Footer ========================> */

  .footer-col2 {
    grid-column: 1/2;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 2;
  }

  .footer-text {
    font-size: 4vw;
  }

  .contatti-text h1 {
    font-size: 2.5vw;
  }

  .contatti-text p {
    font-size: 2vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Header ========================> */

  .header {
    opacity: 0.96;
  }

  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5.5rem;
  }

  .header_menu {
    top: 0px;
    position: relative;
    height: initial;
    width: auto;
    background: none;
    background-color: initial;
    box-shadow: none;
    backdrop-filter: none;
    transition: none;
  }

  #check {
    display: none;
  }

  .hamburger_icon {
    display: none;
  }

  .hamburger_icon img {
    width: 35px;
    height: auto;
  }

  .header_logo {
    max-width: 70%;
    margin: 40px 0px 30px 0px;
    margin-left: 60px;
  }

  .header_logo img {
    width: 74%;
  }

  .header_menu {
    padding-bottom: 0;
  }

  .header_menu li {
    display: inline-block;
  }

  .header_menu li a {
    display: block;
    padding: 0px;
    margin-left: 60px;
    color: #2a3a45;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
  }

  /* <=========================== Contattacci ========================> */
  #linea_5_orizzontale {
    display: none;
  }
  #linea_5_animazione {
    display: none;
  }
  #linea_6_orizzontale {
    display: none;
  }
  #linea_6_animazione {
    display: none;
  }
  #linea_7_orizzontale {
    display: none;
  }
  #linea_7_animazione {
    display: none;
  }
  .linee_orizzontali img {
    max-width: 100%;
  }
  .rettangolo_contenitore_contattaci {
    margin-top: 5vw;
    border-radius: 150px;
    width: 88%;
    height: 32vw;
  }
  .dati {
    width: 70%;
    gap: 1.5vw;
    margin: 50px auto;
    padding-top: 2vw;
  }
  #testo-contattacci {
    font-size: 2.8vw;
  }
  .content_form {
    font-size: 1.3vw;
  }
  .bottom_form {
    font-size: 1.5vw;
  }
  #nome {
    grid-column: 1/2;
  }
  #cognome {
    grid-column: 2/3;
    grid-row: 1;
  }
  #email {
    grid-column: 3/4;
    grid-row: 1;
  }
  #messaggio {
    margin-top: 50px;
    grid-row: 2;
    grid-column: 1/4;
  }
  #invia {
    margin-top: 3vh;
    grid-row: 3;
  }

  /* <=========================== Footer ========================> */

  .container {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .footer-col1 {
    grid-column: 1/2;
  }
  .footer-col2 {
    grid-column: 2/3;
    grid-row: 1;
  }

  .footer-col3 {
    grid-column: 3/4;
    grid-row: 1;
  }

  .footer-text {
    font-size: 2.8vw;
  }

  .contatti-text h1 {
    font-size: 2.2vw;
  }

  .contatti-text p {
    font-size: 1vw;
  }
}

/* <=========================== Animation ========================> */

@keyframes carousel-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes carousel-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes carousel-top-to-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes carousel-bottom-to-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
