/* <=========================== Main Section ========================> */

.website {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.website-text {
  margin-left: 10vw;
  margin-top: 28vw;
  z-index: 1;
}

#website-text-1 {
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

#website-text-2 {
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
}

#website-text-3 {
  padding-top: 3vh;
  color: #ed6931;
  font-size: 4.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

.decorazione-main {
  transform: translate(-85%, -50%);
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../assets/decorazioni/tratti_gialli.png");
}

#linea-testo img {
  width: 78vw;
}

#website-text-nomobile {
  display: none;
}

.website-img-1 {
  margin-top: 0%;
  margin-left: -32%;
  width: 160%;
  height: 110vw;
  overflow: hidden;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/web_site/site_image.png");
}

.website-img-2 {
  display: none;
  margin-top: 5vw;
  width: 100%;
  height: 90vw;
  background-size: 138%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/web_site/site_image.png");
}

/* <=========================== Section 2 ========================> */

.desktop-container {
  display: none;
}

/* FLIP CARD DISPOSITIVI MOBILE */

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  margin-top: 15vw;
  margin-left: 10%;
  border-radius: 180px;
  width: 80vw;
  height: 75vw;
}

.interno-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.interno-card.is-flipped {
  transform: rotateY(180deg);
}

.card-face {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 90px;
  /* box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2); */
}

#back {
  z-index: 3;
  background-color: white;
  background-image: url("../assets/brand_identity/loghi/retro_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.card-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-text{
  z-index: 10;
}

.cerchio {
  position: absolute;
  margin-right: 1vw;
  z-index: 2;
  width: 72vw;
  height: 71vw;
  background-size: 100%;
  background-repeat: no-repeat;
}

.sfondo {
  z-index: 0;
  margin-bottom: 5px;
  width: 72vw;
  height: 72vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
  position: absolute;
}

.SiteApp-img {
  z-index: 2;
  margin-top: 1vw;
  margin-right: 5vw;
  width: 100%;
  height: 78vw;
  background-size: 108%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(0deg);
  position: absolute;
}

.card-content h1 {
  color: #2a3a45;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
}

.card-content p {
  margin-top: 5vw;
  margin-left: 48px;
  margin-right: 48px;
  text-align: center;
  color: #2a3a45;
  font-size: 3vw;
  font-family: Montserrat;
  font-weight: 500;
}

#logo-text-scopri {
  width: 25vw;
  margin-left: 35%;
  margin-top: 5.5vw;
  color: #ed6931;
  font-size: 3.5vw;
  font-family: Champ;
  font-weight: 900;
  text-decoration: underline;
  word-wrap: break-word;
}

/* FINE */

#imgApp-1 {
  background-image: url("../assets/web_site/sito_1.png");
}

#imgApp-2 {
  background-image: url("../assets/web_site/sito_2.png");
}

#cerchio-1 {
  margin-top: 1vw;
  margin-right: 2vw;
  background-image: url("../assets/brand_identity/loghi/cerchi/1_cerchio.png");
}

#cerchio-2 {
  background-image: url("../assets/brand_identity/loghi/cerchi/2_cerchio.png");
}

#sfondo {
  background-image: url("../assets/brand_identity/loghi/retro_logo.png");
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .website-text {
    margin-left: 6vw;
    margin-top: 16vw;
  }

  .decorazione-main {
    width: 6vw;
    margin-top: 2vw;
  }

  #website-text-1 {
    font-size: 4.5vw;
  }

  #website-text-2 {
    padding-top: 2vw;
    font-size: 1.8vw;
  }

  #website-text-3 {
    padding-top: 2.5vw;
    font-size: 2vw;
  }

  #linea-testo img {
    width: 38vw;
  }

  #website-text-mobile {
    display: none;
  }

  #website-text-nomobile {
    display: block;
  }

  .website-img-1 {
    display: none;
  }

  .elements-container {
    margin-top: 0vw;
    top: -21vw;
    left: 35%;
    width: 60vw;
    height: 75vw;
    display: block;
    position: absolute;
    overflow: hidden;
  }

  .website-img-2 {
    display: block;
    position: absolute;
    margin-top: 5vw;
    margin-left: 12vw;
    max-width: 100%;
    background-size: 112%;
  }

  /* <=========================== Section 2 ========================> */

  .flip-card {
    display: none;
  }

  .desktop-container {
    margin-top: 16.7vw;
    display: block;
  }

  .logo {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    max-width: 100%;
    height: 45vw;
  }

  .logo-img-left {
    z-index: 3;
    margin-left: -1vw;
    width: 45vw;
    height: 45vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo-img-right {
    z-index: 3;
    align-self: end;
    margin-right: 1vw;
    width: 45vw;
    height: 45vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cerchio-left {
    margin-top: 1vw;
    margin-left: 4vw;
    width: 35vw;
    height: 35.5vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .cerchio-right {
    align-self: end;
    margin-top: 1vw;
    margin-right: 6.5vw;
    width: 35vw;
    height: 35.5vw;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .decorazione {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .informazioni-left {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-left: 4vw;
  }

  .informazioni-right {
    margin-top: 5vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    margin-right: 4vw;
  }

  .text-h1-desktop {
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
  }

  .text-brand-desktop {
    padding-top: 2.5vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
  }

  .logo-text-scopri {
    margin-left: 0px;
    margin-top: 2.5vw;
    color: #ed6931;
    font-size: 2vw;
    font-family: Champ;
    font-weight: 900;
    text-decoration: underline;
    word-wrap: break-word;
  }

  #margine-1 {
    margin-left: 0vw;
    margin-right: 7vw;
  }

  #allineamento-1 {
    text-align: right;
  }

  #allineamento-2 {
    text-align: left;
  }

  #decorazione-1 {
    transform: translate(235%, -405%);
    background-image: url("../assets/decorazioni/tratti_gialli.png");
  }
  #decorazione-2 {
    transform: translate(280%, -300%);
    background-image: url("../assets/decorazioni/stelle_blu.png");
  }
  #decorazione-3 {
    transform: translate(120%, -355%);
    background-image: url("../assets/decorazioni/stella_arancio.png");
  }
  #decorazione-4 {
    transform: translate(505%, -325%);
    background-image: url("../assets/decorazioni/stelle_gialle.png");
  }
  #decorazione-5 {
    transform: translate(225%, -325%);
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
  #decorazione-6 {
    transform: translate(355%, -325%);
    background-image: url("../assets/decorazioni/tratti_arancio.png");
  }
  #decorazione-7 {
    transform: translate(205%, -385%);
    background-image: url("../assets/decorazioni/stella_gialla.png");
  }
  #decorazione-8 {
    transform: translate(400%, -355%);
    background-image: url("../assets/decorazioni/farfalle_blu.png");
  }
  #sfondo-left {
    transform: translateX(12%);
    z-index: 0;
    width: 35vw;
    height: 35.5vw;
    background-image: url("../assets/brand_identity/loghi/retro_logo.png");
  }
  #sfondo-right {
    align-self: end;
    transform: translate(-20%);
    z-index: 0;
    width: 35vw;
    height: 35.5vw;
    background-image: url("../assets/brand_identity/loghi/retro_logo.png");
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  .website-text {
    margin-left: 6.5vw;
    margin-top: 20vw;
  }

  #website-text-1 {
    padding-left: 2vw;
    font-size: 4vw;
  }

  #website-text-2 {
    padding-left: 2vw;
    padding-top: 2vw;
    font-size: 1.5vw;
  }

  #website-text-3 {
    padding-left: 2vw;
    padding-top: 0vh;
    margin-top: 2.5vw;
    font-size: 1.8vw;
  }

  #linea-testo img {
    width: 30vw;
    padding-top: 1px;
    padding-left: 2vw;
  }

  .decorazione-main {
    transform: translate(-60%, -50%);
  }

  .elements-container {
    top: -20vw;
    width: 65vw;
  }

  .website-img-2 {
    background-size: 118%;
  }

  /* <=========================== Section 2 ========================> */

  .text-brand-desktop {
    font-size: 1.5vw;
  }

  .logo-text-scopri {
    color: #ed6931;
    font-size: 1.8vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
  }

  #decorazione-1 {
    transform: translate(195%, -390%);
    background-image: url("../assets/decorazioni/tratti_gialli.png");
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Main Section ========================> */

  .website-text {
    margin-left: 6.5vw;
    margin-top: 16vw;
  }

  /* <=========================== Section 2 ========================> */

  .elements-container {
    top: -24vw;
    width: 65vw;
  }

  .website-img {
    background-size: 125%;
  }
}
