/* <=========================== Main Section ========================> */

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-contenitore {
  width: 125vw;
  height: 140vw;
  text-align: center;
  overflow: hidden;
}

.logo-cerchio {
  margin-top: 3.5vw;
  margin-left: 20vw;
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.png");
}

.image-pc {
  margin-top: 23vw;
  margin-left: 12.7vw;
  position: absolute;
  width: 100%;
  height: 100vw;
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/web_site/site_for_you/siteforyoumacbook.png");
}

#logo-titolo {
  margin-left: 10vw;
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: start;
}

#logo-description {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 8vw;
  color: #2a3a45;
  font-size: 4.2vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: start;
}

#linea-testo img {
  margin-left: 10vw;
  width: 65vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description-desktop {
  display: none;
}

/* <=========================== Perchè Section ========================> */

.perche-section {
  margin-top: 17vw;
  display: flex;
  justify-content: center;
}

.container-perche {
  margin: 0px 5vw;
  position: relative;
  width: 100%;
  height: 142vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
#testo-1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-2 {
  position: absolute;
  margin-left: 19vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-3-mobile {
  color: #f8fafa;
  padding-top: 5vw;
  margin: 0vw 8vw;
  font-size: 3.8vw;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}

#testo-3-nomobile {
  display: none;
  padding-top: 5vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

/* <=========================== Mockup Section ========================> */

.mockup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-mockup {
  margin: 20.5vw 0px 5vw 0px;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.container-1 {
  width: 90%;
  height: 110vw;
  border-radius: 30px;
  background-color: #405468;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 50% bottom 65%;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-2 {
  margin-top: 10vw;
  width: 90%;
  height: 80vw;
  border-radius: 30px;
  background-color: #405468;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 50% bottom 65%;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
.container-3 {
  margin-top: 10vw;
  width: 90%;
  height: 80vw;
  border-radius: 30px;
  background-color: #405468;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 50% bottom 65%;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-4 {
  margin-top: 10vw;
  width: 90%;
  height: 105vw;
  border-radius: 30px;
  background-color: #405468;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 50% bottom 65%;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.mockup-container p {
  text-align: start;
  margin-top: 3vh;
  width: 85%;
  color: #2a3a45;
  font-size: 5vw;
  font-family: Champ;
  font-weight: 900;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .logo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 5;
  }

  .logo-contenitore {
    height: 70vw;
    grid-row: 1;
    grid-column: 3/4;
  }

  .logo-cerchio {
    margin-top: -70vw;
    margin-left: 38vw;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.png");
  }

  .image-pc {
    margin-top: -2vw;
    margin-left: 50vw;
    position: relative;
    width: 60%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .text {
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1/4;
  }

  #logo-titolo {
    margin-left: 0px;
    font-size: 4vw;
    text-align: start;
  }

  #logo-description-desktop {
    display: block;
    padding-top: 2vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }

  #linea-testo-desktop {
    margin-left: -2vw;
    display: block;
    width: 32vw;
    height: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/brand_identity/brand_page/linea_desktop_brand_page.png");
  }

  #linea-testo {
    display: none;
  }

  #logo-description {
    display: none;
  }

  /* <=========================== Perchè Section ========================> */

  .perche-section {
    margin-top: 0vw;
  }

  .container-perche {
    width: 90vw;
    height: 40vw;
    border-radius: 60px;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 10vw;
  }

  #testo-2 {
    margin-left: 26vw;
    margin-top: -8vw;
    font-size: 4vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 0px;
    margin-top: 1.5vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }

  .text-mockup {
    margin: 10vw 0px 2vw 0px;
    grid-row: 1;
    grid-column: 1/4;
    font-size: 5vw;
    color: #2a3a45;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  .container-1 {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 76%;
    height: 65vw;
    border-radius: 30px;
    z-index: 0;
  }

  .container-2 {
    grid-row: 2;
    grid-column: 2/4;
    margin-left: 18vw;
    margin-top: -20vw;
    width: 70%;
    height: 45vw;
    border-radius: 30px;
  }

  .container-3 {
    grid-row: 3;
    grid-column: 1/3;
    margin-top: 2vw;
    width: 76%;
    height: 45.5vw;
    border-radius: 30px;
  }

  .container-4 {
    grid-row: 3;
    grid-column: 2/4;
    margin-top: -17.5vw;
    margin-left: 18vw;
    width: 70%;
    height: 65vw;
    border-radius: 30px;
  }

  .mockup-container p {
    text-align: start;
    margin-top: 3vh;
    width: 85%;
    color: #2a3a45;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
  }

  #CS-1 {
    position: absolute;
    transform: translateY(550%);
    grid-row: 2/3;
    width: 45%;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 2vw;
    margin-bottom: 5vw;
  }

  #CS-2 {
    position: absolute;
    transform: translate(105%, -280%);
    width: 45%;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 2vw;
    margin-bottom: 5vw;
  }

  #CS-3 {
    position: absolute;
    transform: translate(0%, 2600%);
    grid-row: 2/3;
    width: 45%;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 2vw;
    margin-bottom: 5vw;
  }

  #CS-4 {
    position: absolute;
    transform: translate(105%, 2600%);
    grid-row: 2/3;
    width: 45%;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 2vw;
    margin-bottom: 5vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */
  .text {
    margin-top: -14vw;
  }
  .image-pc {
    margin-top: 3vw;
    margin-left: 50vw;
    width: 55%;
    height: 80%;
  }

  .logo-cerchio {
    margin-left: 45vw;
    width: 78%;
  }

  /* <=========================== Perchè Section ========================> */
  .container-perche {
    border-radius: 60px;
  }

  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    transform: translate(0%, -2.5%);
  }

  #CS-1 {
    transform: translate(12%, 800%);
  }

  #CS-2 {
    transform: translate(115%, -250%);
  }

  #CS-3 {
    transform: translate(12%, 2250%);
    margin-bottom: 8vw;
  }

  #CS-4 {
    transform: translate(116%, 2250%);
    margin-bottom: 8vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text {
    margin-top: 0vw;
  }

  .image-pc {
    margin-top: 8vw;
    margin-left: 55vw;
    width: 50%;
    height: 80%;
  }
  .container-mockup {
    width: 60%;
    margin-left: 7%;
    border-radius: 70px;
  }
  .logo-section {
    margin-top: -10vw;
  }

  .container-perche {
    border-radius: 120px;
    height: 40vw;
  }

  /* <=========================== Mockup Section ========================> */



  #CS-1 {
    transform: translate(12%, 1165%);
  }

  #CS-2 {
    transform: translate(115%, -180%);
    margin-bottom: 7vw;
  }

  #CS-3 {
    transform: translate(12%, 3320%);
    margin-bottom: 8vw;
  }

  #CS-4 {
    transform: translate(116%, 3320%);
    margin-bottom: 8vw;
  }
}
