/* <=========================== Main Section ========================> */

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-contenitore {
  width: 125vw;
  height: 140vw;
  text-align: center;
  overflow: hidden;
}

.logo-cerchio {
  margin-top: 3.5vw;
  margin-left: 20vw;
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.png");
}

.image-pc {
  margin-top: 23vw;
  margin-left: 12.7vw;
  position: absolute;
  width: 100%;
  height: 100vw;
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/web_site/my_house_immobiliare/immobiliaremacbook.png");
}

#logo-titolo {
  margin-left: 10vw;
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: start;
}

#logo-description {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 8vw;
  color: #2a3a45;
  font-size: 4.2vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: start;
}

#linea-testo img {
  margin-left: 10vw;
  width: 65vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description-desktop {
  display: none;
}

/* <=========================== Perchè Section ========================> */

.perche-section {
  margin-top: 17vw;
  display: flex;
  justify-content: center;
}

.container-perche {
  margin: 0px 5vw;
  position: relative;
  width: 100%;
  height: 142vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
#testo-1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-2 {
  position: absolute;
  margin-left: 19vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-3-mobile {
  color: #f8fafa;
  padding-top: 5vw;
  margin: 0vw 8vw;
  font-size: 3.8vw;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}

#testo-3-nomobile {
  display: none;
  padding-top: 5vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

/* <=========================== Mockup Section ========================> */

.mockup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-mockup {
  margin: 20.5vw 0px 5vw 0px;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.text-mockup-es {
  margin: 20.5vw 0px 5vw 0px;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.container-mockup {
  width: 90%;
  border-radius: 30px;
  background-color: #2a3a45;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

#mockup-1 {
  height: 140vw;
  background-size: 86%;
}

#mockup-2 {
  margin-top: 0vw;
  height: 140vw;
  background-size: 86%;
}
#mockup-3 {
  margin-top: 0vw;
  height: 132vw;
  background-size: 88%;
}

#mockup-4 {
  margin-top: 0vw;
  height: 196vw;
  background-size: 88%;
}

.mockup-container p {
  text-align: center;
  margin-top: 3.5vw;
  width: 85%;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Champ;
  font-weight: 900;
}

#CS-1-i {
  display: none;
}

#CS-2-i {
  display: none;
}

#CS-3-i {
  display: none;
}

#CS-4-i {
  display: none;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* <=========================== Mockup Section ========================> */
  .container-mockup {
    border-radius: 40px;
  }
}

@media only screen and (min-width: 600px) {
  /* <=========================== Mockup Section ========================> */
  .container-mockup {
    border-radius: 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .logo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 5;
  }

  .logo-contenitore {
    height: 70vw;
    grid-row: 1;
    grid-column: 3/4;
  }

  .logo-cerchio {
    margin-top: -70vw;
    margin-left: 38vw;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.png");
  }

  .image-pc {
    margin-top: -2vw;
    margin-left: 0vw;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../../assets/web_site/my_house_immobiliare/immobiliaremacbook.png");
  }

  .text {
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1/4;
  }

  #logo-titolo {
    margin-left: 0px;
    font-size: 4vw;
    text-align: start;
  }

  #logo-description-desktop {
    display: block;
    padding-top: 2vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }

  #linea-testo-desktop {
    margin-left: -2vw;
    display: block;
    width: 32vw;
    height: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/brand_identity/brand_page/linea_desktop_brand_page.png");
  }

  #linea-testo {
    display: none;
  }

  #logo-description {
    display: none;
  }

  /* <=========================== Perchè Section ========================> */

  .perche-section {
    margin-top: 0vw;
  }

  .container-perche {
    width: 90vw;
    height: 45vw;
    border-radius: 60px;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 10vw;
  }

  #testo-2 {
    margin-left: 26vw;
    margin-top: -8vw;
    font-size: 4vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 0px;
    margin-top: 1.5vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
  }
  .text-mockup {
    margin: 10vw 0px 5vw 0px;
    grid-row: 1;
    grid-column: 1/4;
    color: #2a3a45;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  .text-mockup-es {
    display: none;
  }

  .container-mockup {
    width: 65%;
    margin-left: 7%;
    border-radius: 50px;
    background-color: #405468;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  }

  .container-mockup p {
    font-size: 1.6vw;
    color: white;
  }

  #mockup-1 {
    height: 73vw;
    grid-row: 2;
    grid-column: 1/3;
  }
  #mockup-2 {
    margin-top: 0px;
    margin-left: 18vw;
    height: 73vw;
    grid-row: 2;
    grid-column: 2/4;
  }

  #mockup-3 {
    height: 70vw;
    margin-top: -27vw;
    grid-row: 3;
    grid-column: 1/3;
  }
  #mockup-4 {
    margin-top: 3.5vw;
    margin-left: 18vw;
    height: 100vw;
    grid-row: 3/4;
    grid-column: 2/4;
  }

  #CS-1-i {
    display: block;
    margin-left: 10%;
    margin-top: 69vw;
  }

  #CS-2-i {
    display: block;
    margin-left: 10%;
    margin-top: 69vw;
  }

  #CS-3-i {
    display: block;
    margin-left: 10%;
    margin-top: 66vw;
  }

  #CS-4-i {
    display: block;
    margin-left: 10%;
    margin-top: 96vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */
  .image-pc {
    margin-top: 2vw;
  }

  /* <=========================== Perchè Section ========================> */
  .container-perche {
    border-radius: 80px;
  }

  /* <=========================== Mockup Section ========================> */
  .container-mockup {
    width: 65%;
    margin-left: 7%;
    /* border-radius: 80px; */
  }

  .container-mockup p {
    font-size: 1.2vw;
  }

  #mockup-1 {
    height: 72vw;
  }
  #mockup-2 {
    height: 72vw;
  }

  #mockup-3 {
    height: 67vw;
  }
  #mockup-4 {
    height: 98vw;
  }

  #CS-1-i {
    margin-left: 10%;
    margin-top: 68.8vw;
  }

  #CS-2-i {
    margin-left: 10%;
    margin-top: 68.8vw;
  }

  #CS-3-i {
    margin-left: 10%;
    margin-top: 63.8vw;
  }

  #CS-4-i {
    margin-left: 10%;
    margin-top: 94.8vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-mockup {
    width: 65%;
    margin-left: 7%;
    border-radius: 80px;
  }
  .logo-section {
    margin-top: -10vw;
  }

  .container-perche {
    border-radius: 120px;
    height: 40vw;
  }
}
