/* <=========================== Main Section ========================> */

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-contenitore {
  width: 125vw;
  height: 140vw;
  text-align: center;
  overflow: hidden;
}

.logo-cerchio {
  margin-top: 3vw;
  margin-left: 25vw;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.webp");
}

.image-mobile-nodesktop {
  margin-top: 23vw;
  margin-left: 12.7vw;
  position: absolute;
  width: 100%;
  height: 100vw;
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/mobile_app/MyFitness/logo_1.webp");
}

#logo-titolo {
  margin-left: 10vw;
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: start;
}

#logo-description {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: start;
}

#linea-testo img {
  margin-left: 10vw;
  width: 70vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description-desktop {
  display: none;
}

/* <=========================== Perchè Section ========================> */

.perche-section {
  padding-top: 17vw;
  display: flex;
  justify-content: center;
}

.container-perche {
  margin: 0px 5vw;
  position: relative;
  width: 100%;
  height: 153vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
#testo-1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-2 {
  position: absolute;
  margin-left: 19vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-3-mobile {
  color: #f8fafa;
  margin-top: 5vw;
  margin: 0vw 5vw;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}

#testo-3-nomobile {
  display: none;
  padding-top: 5vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

/* <=========================== Mockup Section ========================> */

.mockup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.owl-carousel .item {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2vw;
  border-radius: 40px;
  width: 60vw;
  height: 130vw;
  padding: 1rem;
  margin-top: 3vw;
}

.text-mockup {
  margin: 20.5vw 0px 5vw 0px;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.container-mobile {
  margin-top: 10vw;
  padding-right: 5px;
  width: 90%;
  height: 145vw;
  border-radius: 30px;
  background-color: #2a3a45;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 50% bottom 65%;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

/* Versione 1 - Admin  */

#item-1-admin-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/admin/admin_1.webp");
}

#item-2-admin-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/admin/admin_2.webp");
}

#item-3-admin-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/admin/admin_3.webp");
}

#item-4-admin-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/admin/admin_4.webp");
}

#item-5-admin-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/admin/admin_5.webp");
}

/* Versione 1 - Utente  */

#item-1-utente-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/utente/utente_1.webp");
}

#item-2-utente-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/utente/utente_2.webp");
}

#item-3-utente-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/utente/utente_3.webp");
}

#item-4-utente-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/utente/utente_4.webp");
}

#item-5-utente-1 {
  background-image: url("/assets/mobile_app/MyFitness/versione_1/utente/utente_5.webp");
}

/* Versione 2 - Admin  */

#item-1-admin-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/admin/admin_1.webp");
}

#item-2-admin-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/admin/admin_2.webp");
}

#item-3-admin-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/admin/admin_3.webp");
}

#item-4-admin-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/admin/admin_4.webp");
}

#item-5-admin-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/admin/admin_5.webp");
}

/* Versione 2 - Utente  */

#item-1-utente-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/utente/utente_1.webp");
}

#item-2-utente-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/utente/utente_2.webp");
}

#item-3-utente-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/utente/utente_3.webp");
}

#item-4-utente-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/utente/utente_4.webp");
}

#item-5-utente-2 {
  background-image: url("/assets/mobile_app/MyFitness/versione_2/utente/utente_5.webp");
}

.mockup-container p {
  text-align: center;
  margin-top: 3.5vw;
  width: 85%;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Champ;
  font-weight: 900;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mockup-container-desktop {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* <=========================== Main Section ========================> */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .logo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 5;
  }

  .logo-contenitore {
    height: 70vw;
    grid-row: 1;
    grid-column: 3/4;
  }

  .logo-cerchio {
    margin-top: 8vw;
    margin-left: 40vw;
    width: 85%;
    height: 80%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.webp");
  }

  .image-mobile-nodesktop {
    display: none;
  }

  .image-mobile-desktop {
    margin-top: -62vw;
    margin-left: 0vw;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../../assets/mobile_app/MyFitness/logo_1.webp");
  }

  .text {
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1/4;
  }

  #logo-titolo {
    margin-left: 0px;
    font-size: 4vw;
    text-align: start;
  }

  #logo-description-desktop {
    display: block;
    padding-top: 2vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }

  #linea-testo-desktop {
    margin-left: -0.5vw;
    display: block;
    width: 27.5vw;
    height: 2vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/brand_identity/brand_page/linea_desktop_brand_page.webp");
  }

  #linea-testo {
    display: none;
  }

  #logo-description {
    display: none;
  }

  /* <=========================== Perchè Section ========================> */

  .perche-section {
    padding-top: 0vw;
  }

  .container-perche {
    width: 90vw;
    height: 45vw;
    border-radius: 60px;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 10vw;
  }

  #testo-2 {
    margin-left: 26vw;
    margin-top: -8vw;
    font-size: 4vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 0px;
    margin-top: 1.5vw;
    margin-left: 6vw;
    margin-right: 6vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    display: none;
  }

  .mockup-container-desktop {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container-desktop {
    display: flex;
    border-radius: 40px;
    background-color: #2a3a45;
    width: 95%;
    height: 50vw;
    margin-top: 1.5vw;
    margin-left: 2.35vw;
    z-index: 0;
  }

  .item {
    background-size: 100% 95%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2vw;
    border-radius: 30px;
    width: 18vw;
    height: 42vw;
    padding: 0rem;
    margin-top: 2.5vw;
  }

  .text-mockup {
    margin: 10vw 0px 2vw 0px;
    grid-row: 1;
    grid-column: 1/4;
    color: #2a3a45;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  .mockup-container-desktop p {
    transform: translate(0%, -180%);
    position: relative;
    text-align: center;
    margin-top: 0vh;
    color: #ffffff;
    font-size: 2vw;
    font-family: Champ;
    font-weight: 900;
    z-index: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */
  

  /* <=========================== Perchè Section ========================> */

  .logo-cerchio{
    margin-top: 1vw;
  }

  .container-perche {
    height: 40vw;
    border-radius: 100px;
  }

  #testo-3-nomobile {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  /* <=========================== Mockup Section ========================> */
  .text-mockup {
    padding-top: 0vw;
    font-size: 5vw;
    text-align: center;
  }
  .container-desktop {
    display: flex;
    border-radius: 45px;
    background-color: #2a3a45;
    width: 95%;
    height: 40vw;
    margin-top: 5vw;
    margin-left: 2.35vw;
    z-index: 0;
  }

  .item {
    background-size: 100% 102%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2vw;
    border-radius: 30px;
    width: 18vw;
    height: 34vw;
    padding: 0rem;
    margin-top: 2.5vw;
  }

  .mockup-container-desktop p {
    color: #ffffff;
    font-size: 1.1vw;
    font-family: Champ;
    font-weight: 900;
    z-index: 1;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .logo-cerchio {
    background-size: 45%;
  }

  .image-mobile-desktop {
    margin-top: -60vw;
    margin-left: -5vw;
    background-size: 50%;
  }

    .container-mockup {
    width: 65%;
    margin-left: 7%;
    border-radius: 80px;
  }
  .logo-section {
    margin-top: -10vw;
  }

  .container-perche {
    border-radius: 120px;
    height: 40vw;
  }
  /* <=========================== Mockup Section ========================> */

  .container-desktop {
    display: flex;
    border-radius: 50px;
    background-color: #2a3a45;
    width: 95%;
    height: 40vw;
    margin-top: 1.5vw;
    margin-left: 2.35vw;
    z-index: 0;
  }

  .item {
    background-size: 100% 102%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2vw;
    border-radius: 30px;
    width: 18vw;
    height: 34vw;
    padding: 0rem;
    margin-top: 2.5vw;
  }

  .mockup-container-desktop p {
    color: #ffffff;
    font-size: 1.2vw;
    font-family: Champ;
    font-weight: 900;
    z-index: 1;
  }
}
