/* <=========================== Main Section ========================> */

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.logo-contenitore {
  width: 125vw;
  height: 140vw;
  text-align: center;
  overflow: hidden;
}

.logo-cerchio {
  margin-top: 3vw;
  margin-left: 25vw;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.webp");
}

.image-mobile-nodesktop {
  margin-top: 23vw;
  margin-left: 12.7vw;
  position: absolute;
  width: 100%;
  height: 100vw;
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/mobile_app/Amat/logo_2.webp");
}

#logo-titolo {
  margin-left: 10vw;
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: start;
}

#logo-description {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 5vw;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: start;
}

#linea-testo img {
  margin-left: 10vw;
  width: 70vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description-desktop {
  display: none;
}

/* <=========================== Perchè Section ========================> */

.perche-section {
  padding-top: 17vw;
  display: flex;
  justify-content: center;
}

.container-perche {
  margin: 0px 5vw;
  position: relative;
  width: 100%;
  height: 136vw;
  border-radius: 40px;
  background: #2a3a45;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
#testo-1 {
  text-align: center;
  margin-top: 2.5vh;
  opacity: 0.1;
  color: #f8fafa;
  font-size: 14vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-2 {
  position: absolute;
  margin-left: 19vw;
  margin-top: -11vw;
  color: #f8fafa;
  font-size: 5.5vw;
  font-family: Champ;
  font-weight: 900;
}

#testo-3-mobile {
  color: #f8fafa;
  padding-top: 3vw;
  margin: 0vw 6vw;
  font-size: 4vw;
  font-family: Montserrat;
  font-weight: 400;
  text-align: center;
  word-wrap: break-word;
}

#testo-3-nomobile {
  display: none;
  padding-top: 3vw;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #f8fafa;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

/* <=========================== Mockup Section ========================> */

.mockup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.owl-carousel .item {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2vw;
  border-radius: 40px;
  width: 60vw;
  height: 130vw;
  padding: 1rem;
  margin-top: 3vw;
}

.text-mockup {
  margin: 20.5vw 0px 5vw 0px;
  color: #2a3a45;
  font-size: 8vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}

.container-mobile {
  margin-top: 10vw;
  padding-right: 5px;
  width: 90%;
  height: 145vw;
  border-radius: 30px;
  background-color: #2a3a45;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: right 50% bottom 65%;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

/* Home  */

#item-1-home {
  background-image: url("/assets/mobile_app/Amat/home_1.webp");
}

#item-2-home {
  background-image: url("/assets/mobile_app/Amat/home_2.webp");
}

#item-3-home {
  background-image: url("/assets/mobile_app/Amat/home_3.webp");
}

/* Dove vuoi andare ?  */

#item-1-dove {
  background-image: url("/assets/mobile_app/Amat/dove_1.webp");
}

#item-2-dove {
  background-image: url("/assets/mobile_app/Amat/dove_2.webp");
}

#item-3-dove {
  background-image: url("/assets/mobile_app/Amat/dove_3.webp");
}

/* Scopri Palermo */

#item-1-scopri {
  background-image: url("/assets/mobile_app/Amat/scopri_1.webp");
}

#item-2-scopri {
  background-image: url("/assets/mobile_app/Amat/scopri_2.webp");
}

#item-3-scopri {
  background-image: url("/assets/mobile_app/Amat/scopri_3.webp");
}

/* Linee Bus  */

#item-1-bus {
  background-image: url("/assets/mobile_app/Amat/lineb_1.webp");
}

#item-2-bus {
  background-image: url("/assets/mobile_app/Amat/lineb_2.webp");
}

#item-3-bus {
  background-image: url("/assets/mobile_app/Amat/lineb_3.webp");
}

/* Acquista Ticket  */

#item-1-acquista {
  background-image: url("/assets/mobile_app/Amat/tick_1.webp");
}

#item-2-acquista {
  background-image: url("/assets/mobile_app/Amat/tick_2.webp");
}

#item-3-acquista {
  background-image: url("/assets/mobile_app/Amat/tick_3.webp");
}

#item-4-acquista {
  background-image: url("/assets/mobile_app/Amat/tick_4.webp");
}

#item-5-acquista {
  background-image: url("/assets/mobile_app/Amat/tick_5.webp");
}

.mockup-container p {
  text-align: center;
  margin-top: 3.5vw;
  width: 85%;
  color: #2a3a45;
  font-size: 4vw;
  font-family: Champ;
  font-weight: 900;
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mockup-container-desktop {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  /* <=========================== Main Section ========================> */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* <=========================== Main Section ========================> */

  .logo-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 5;
  }

  .logo-contenitore {
    height: 70vw;
    grid-row: 1;
    grid-column: 3/4;
  }

  .logo-cerchio {
    margin-top: 8vw;
    margin-left: 40vw;
    width: 85%;
    height: 80%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/web_site/site_for_you/Ellisse_blu.webp");
  }

  .image-mobile-nodesktop {
    display: none;
  }

  .image-mobile-desktop {
    margin-top: -62vw;
    margin-left: 0vw;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../../assets/mobile_app/Amat/logo_2.webp");
  }

  .text {
    margin-left: 15%;
    grid-row: 1;
    grid-column: 1/4;
  }

  #logo-titolo {
    margin-left: 0px;
    font-size: 4vw;
    text-align: start;
  }

  #logo-description-desktop {
    display: block;
    padding-top: 2vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }

  #linea-testo-desktop {
    margin-left: -0.5vw;
    display: block;
    width: 34vw;
    height: 1.8vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/brand_identity/brand_page/linea_desktop_brand_page.webp");
  }

  #linea-testo {
    display: none;
  }

  #logo-description {
    display: none;
  }

  /* <=========================== Perchè Section ========================> */

  .perche-section {
    padding-top: 0vw;
  }

  .container-perche {
    width: 90vw;
    height: 42vw;
    border-radius: 60px;
  }
  #testo-1 {
    margin-top: 1vh;
    font-size: 10vw;
  }

  #testo-2 {
    margin-left: 26vw;
    margin-top: -8vw;
    font-size: 4vw;
  }

  #testo-3-nomobile {
    display: block;
    padding-top: 0px;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 400;
  }

  #testo-3-mobile {
    display: none;
  }
  /* <=========================== Mockup Section ========================> */

  .mockup-container {
    display: none;
  }

  .mockup-container-desktop {
    display: grid;
    overflow: hidden;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: auto;
    align-items: center;
    /* justify-content: center; */
  }

  .text-mockup {
    margin: 10vw 0px 5vw 0px;
    grid-row: 1;
    grid-column: 1/4;
    color: #2a3a45;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  .container-mp {
    margin-top: 2.5vw;
    display: flex;
    width: 85.5%;
    /* margin-left: 5vw; */
    border-radius: 35px;
    background-color: #2a3a45;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  }

  .container-mp-a {
    margin-top: 2.5vw;
    display: flex;
    width: 88%;
    margin-left: 5vw;
    border-radius: 35px;
    background-color: #2a3a45;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
  }

  .container-mp p {
    font-size: 1.6vw;
    color: white;
  }

  .container-mp-a p {
    font-size: 1.6vw;
    color: white;
  }

  .item {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -2vw;
    border-radius: 30px;
    width: 14vw;
    /* height: 40vw; */
    padding: 0rem;
  }

  .item-b {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -2vw;
    border-radius: 30px;
    width: 15.8vw;
    /* height: 40vw; */
    padding: 0rem;
  }

  .item-a {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -2vw;
    border-radius: 30px;
    width: 17vw;
    padding: 0rem;
  }

  .text-mockup {
    margin: 10vw 0px 2vw 0px;
    grid-row: 1;
    grid-column: 1/4;
    color: #2a3a45;
    font-size: 5vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  .mockup-container-desktop p {
    position: absolute;
    text-align: center;
    margin-top: 0vh;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: Champ;
    font-weight: 900;
    z-index: 1;
  }

  #c-home {
    margin-left: 5vw;
    height: 36vw;
    grid-row: 2;
    grid-column: 1/3;
  }

  #c-dove {
    margin-left: 0vw;
    height: 36vw;
    grid-row: 2;
    grid-column: 3/4;
  }

  #c-scopri {
    margin-left: 5vw;
    height: 36vw;
    grid-row: 3;
    grid-column: 1/3;
  }

  #c-bus {
    margin-left: 0vw;
    height: 36vw;
    grid-row: 3;
    grid-column: 3/4;
  }

  #c-acquista {
    height: 42vw;
    grid-row: 4;
    grid-column: 1/4;
  }

  #T-h {
    transform: translate(400%, 1650%);
  }
  #T-d {
    transform: translate(90%, 1650%);
  }
  #T-s {
    transform: translate(130%, 1650%);
  }
  #T-b {
    transform: translate(240%, 1650%);
  }
  #T-a {
    transform: translate(320%, 1980%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  /* <=========================== Perchè Section ========================> */

  .logo-cerchio {
    margin-top: 1vw;
  }
  
  .container-perche {
    height: 40vw;
    border-radius: 100px;
  }

  #testo-3-nomobile {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  /* <=========================== Mockup Section ========================> */

  .container-mp {
    border-radius: 40px;
  }
  .container-mp-a {
    border-radius: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-cerchio {
    background-size: 45%;
  }

  .image-mobile-desktop {
    margin-top: -60vw;
    margin-left: -5vw;
    background-size: 50%;
  }

  .container-mockup {
    width: 65%;
    margin-left: 7%;
    border-radius: 80px;
  }
  .logo-section {
    margin-top: -10vw;
  }

  .container-perche {
    border-radius: 120px;
    height: 40vw;
  }
  /* <=========================== Mockup Section ========================> */

  .container-mp {
    border-radius: 60px;
  }
  .container-mp-a {
    border-radius: 60px;
  }
}
