/* <=========================== Main Section ========================> */

#logo-titolo {
  margin-top: 5vw;
  margin-left: 10vw;
  color: #2a3a45;
  font-size: 9.5vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: start;
}

#linea-testo img {
  margin-left: 10vw;
  width: 70vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 6vw;
  color: #2a3a45;
  font-size: 4.2vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: start;
}

#logo-description-desktop {
  display: none;
}

#img-LV {
  background-image: url("../../assets/brand_identity/loghi/laura_logo.png");
}

/* <=========================== Mockup Section ========================> */

.container-1 {
  width: 90%;
  height: 64vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-2 {
  margin-top: 5vw;
  width: 90%;
  height: 135vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
.container-3 {
  margin-top: 5vw;
  width: 90%;
  height: 45.5vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-4 {
  margin-top: 5vw;
  width: 90%;
  height: 135vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-5 {
  margin-top: 5vw;
  width: 90%;
  height: 64vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-section {
    flex-direction: row-reverse;
  }

  .text {
    margin-left: -40vw;
    height: 60vw;
  }

  #logo-titolo {
    margin-top: 20vw;
    margin-left: 5vw;
    position: absolute;
    color: #2a3a45;
    font-size: 4vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: start;
  }

  #linea-testo {
    display: none;
  }

  #linea-testo-desktop {
    position: absolute;
    margin-top: 30%;
    margin-left: 4vw;
    display: block;
    width: 32vw;
    height: 1vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/brand_identity/brand_page/linea_desktop_brand_page.png");
  }

  #logo-description-desktop {
    display: block;
    margin-top: 33vw;
    margin-left: 5vw;
    margin-right: 15vw;
    color: #2a3a45;
    font-size: 1.6vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: start;
  }

  #logo-description {
    display: none;
  }

  /* <=========================== Mockup Section ========================> */

  .container-1 {
    margin-top: 2vw;
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    height: 45vw;
    border-radius: 30px;
  }

  .container-2 {
    margin-top: 2vw;
    margin-left: 2.5vw;
    width: 90%;
    height: 45vw;
    border-radius: 30px;
  }

  .container-3 {
    grid-row: 3;
    grid-column: 1/4;
    margin-top: 5vw;
    width: 100%;
    height: 45.5vw;
    border-radius: 30px;
  }

  .container-4 {
    grid-row: 4;
    grid-column: 1/2;
    margin-top: 5vw;
    width: 100%;
    height: 50vw;
    border-radius: 30px;
  }

  .container-5 {
    grid-row: 4;
    grid-column: 2/4;
    margin-left: 5vw;
    width: 92%;
    height: 50vw;
    border-radius: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .text{
    margin-top: -6vw;
  }
  /* <=========================== Mockup Section ========================> */

  .container-1 {
    height: 35vw;
    border-radius: 40px;
  }

  .container-2 {
    height: 35vw;
    border-radius: 40px;
  }
  .container-3 {
    border-radius: 40px;
    height: 36vw;
  }

  .container-4 {
    height: 36vw;
    border-radius: 40px;
  }

  .container-5 {
    height: 36vw;
    border-radius: 40px;
  }
}
