/* <=========================== Main Section ========================> */

#logo-titolo {
  padding-top: 15vw;
  color: #2a3a45;
  font-size: 10vw;
  font-family: Champ;
  font-weight: 900;
  word-wrap: break-word;
  text-align: center;
}
#logo-cerchio {
  transform: translate(15%, 25%);
  position: relative;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-cerchio img {
  width: 90%;
}

#linea-testo img {
  transform: translateX(23%);
  width: 70vw;
}

#linea-testo-desktop {
  display: none;
}

#logo-description {
  padding-top: 5vw;
  color: #2a3a45;
  font-size: 4.2vw;
  font-family: Montserrat;
  font-weight: 500;
  word-wrap: break-word;
  text-align: center;
}

#logo-description-desktop {
  display: none;
}
/* <=========================== Mockup Section ========================> */

.container-1 {
  width: 93%;
  height: 64vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-2 {
  margin-top: 5vw;
  width: 90%;
  height: 135vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}
.container-3 {
  margin-top: 5vw;
  width: 90%;
  height: 45.5vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-4 {
  margin-top: 5vw;
  width: 90%;
  height: 135vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

.container-5 {
  margin-top: 5vw;
  width: 90%;
  height: 64vw;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 4px 24px 0px rgba(0, 0, 0, 0.15);
}

/* MEDIA QUERY */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #logo-titolo {
    position: absolute;
    transform: translate(-45%, -61vw);
    color: #2a3a45;
    font-size: 4.5vw;
    font-family: Champ;
    font-weight: 900;
    word-wrap: break-word;
    text-align: center;
  }

  #linea-testo {
    display: none;
  }

  #linea-testo-desktop {
    display: inline;
  }

  #linea-testo-desktop img {
    transform: translate(-45%, -2550%);
    width: 40vw;
  }

  #logo-cerchio {
    transform: translate(30%, 6%);
    position: relative;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #logo-cerchio img {
    width: 52%;
  }

  .text {
    transform: translate(0%, 40%);
  }

  #logo-description {
    display: none;
  }

  #logo-description-desktop {
    display: block;
    transform: translate(-40%, -210%);
    padding-top: 5vw;
    color: #2a3a45;
    font-size: 2vw;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    text-align: left;
  }

  /* <=========================== Mockup Section ========================> */

  .container-1 {
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    height: 45vw;
    border-radius: 30px;
  }

  .container-2 {
    margin-left: 2.5vw;
    margin-top: 0vw;
    width: 90%;
    height: 45vw;
    border-radius: 30px;
  }

  .container-3 {
    grid-row: 3;
    grid-column: 1/4;
    margin-top: 5vw;
    width: 100%;
    height: 45.5vw;
    border-radius: 30px;
  }

  .container-4 {
    grid-row: 4;
    grid-column: 1/2;
    margin-top: 5vw;
    width: 100%;
    height: 50vw;
    border-radius: 30px;
  }

  .container-5 {
    grid-row: 4;
    grid-column: 2/4;
    margin-left: 5vw;
    width: 92%;
    height: 50vw;
    border-radius: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* <=========================== Main Section ========================> */

  #logo-titolo {
    transform: translate(-65%, -230%);
    color: #2a3a45;
    font-size: 4vw;
    text-align: left;
  }

  #linea-testo-desktop img {
    transform: translate(-70%, -3100%);
    width: 30vw;
  }
  #logo-cerchio {
    transform: translate(32%, 5%);
  }

  #logo-cerchio img {
    width: 55%;
  }

  .text {
    transform: translate(0%, -20%);
  }

  #logo-description-desktop {
    display: block;
    transform: translate(-50%, -210%);
    font-size: 1.8vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* <=========================== Mockup Section ========================> */

  .container-1 {
    grid-row: 2;
    grid-column: 1/3;
    width: 100%;
    height: 38vw;
    border-radius: 40px;
  }

  .container-2 {
    margin-left: 2.5vw;
    margin-top: 0vw;
    width: 90%;
    height: 38vw;
    border-radius: 40px;
  }
  .container-3 {
    grid-row: 3;
    grid-column: 1/4;
    margin-top: 5vw;
    width: 100%;
    height: 39vw;
  }

  .container-4 {
    grid-row: 4;
    grid-column: 1/2;
    margin-top: 5vw;
    width: 100%;
    height: 39vw;
    border-radius: 40px;
  }

  .container-5 {
    grid-row: 4;
    grid-column: 2/4;
    margin-left: 2vw;
    width: 97%;
    height: 39vw;
    border-radius: 40px;
  }
}
